.hide {
  display: none;
}
.header-chat-avatar {
  width: 25px;
  height: 25px;
}
.footer-chat-container {
  .icon-btn {
    margin-left: auto;
    padding: 6px 8px;
    margin-right: 10px;
    border-radius: 50%;
    svg {
      fill: #607d8b;
      color: #607d8b;
    }
  }
}
