.hide {
  display: none;
}
.header-chat-avatar {
  width: 25px;
  height: 25px;
}
.footer-chat-container {
  .icon-btn {
    margin-left: auto;
    &:hover {
      background: none;
    }
    & > span > svg {
      &:hover {
        fill: #03b000;
      }
    }
  }
}
