.view_Project_CopyGroupTask_Modal___list-item {
  padding: 10px 16px;
  background: unset;
};

@mixin view_Project_CopyGroupTask_Modal___primary {
  display: flex;
  align-items: center;
  & > * {
    &:last-child {
      font-size: 14px;
      margin-left: 8px;
    }
  }
  .MuiCheckbox-colorPrimary.Mui-checked {
    color: var(--color-primary);
  }
}

.view_Project_CopyGroupTask_Modal___primary {
  & {
    @include view_Project_CopyGroupTask_Modal___primary;
    & > * {
      &:last-child {
        color: #444;
      }
    }
  }
  &-selected {
    @include view_Project_CopyGroupTask_Modal___primary;
    & > * {
      &:last-child {
        color: var(--color-primary);
      }
    }
  }
};