.view_Project_CopyGroupTask_Modal___list-item {
  padding: 10px 16px;
};

@mixin view_Project_CopyGroupTask_Modal___primary {
  display: flex;
  align-items: center;
  & > * {
    &:last-child {
      font-size: 14px;
      margin-left: 8px;
    }
  }
}

.view_Project_CopyGroupTask_Modal___primary {
  & {
    @include view_Project_CopyGroupTask_Modal___primary;
    & > * {
      &:first-child {
        fill: rgba(0, 0, 0, 0);
      }
      &:last-child {
        color: #444;
      }
    }
  }
  &-selected {
    @include view_Project_CopyGroupTask_Modal___primary;
    & > * {
      &:first-child {
        fill: #05b50c;
      }
      &:last-child {
        color: #05b50c;
      }
    }
  }
};