.tag-modal {
  background: transparent;
  .MuiBackdrop-root {
    background: transparent;
  }
  .MuiPaper-root {
    border: solid 1px #ccc;
    box-shadow: none;
    border-radius: 6px;
  }
  .MuiDialogContent-root {
    border: none;
    padding: 16px;
  }
  .tag-content {
  }
  .tag-item {
    display: flex;
    line-height: 25px;
  }
}

.stickerModal {
  &--list {
    position: absolute;
    bottom: 100px;
    padding: 4px;
    display: none;
    flex-wrap: wrap;
    max-height: 210px;
    min-height: 105px;
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
  }
  &__open {
    display: flex;
  }
  &--image {
    height: 96px;
    width: 96px;
  }
}
