@mixin view_KanbanBoard___container {
  height: 100%;
  min-width: 100%;
  width: fit-content;
  box-sizing: border-box;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 15px;
  display: flex;
  & > * {
    margin-left: 15px;
  }
}

.view_KanbanBoard___container {
  & {
    @include view_KanbanBoard___container;
    background-color: #efefef;
  }
  &-dragging-over {
    @include view_KanbanBoard___container;
    background-color: lightblue;
  }
}