.view_KanbanBoard___container {
  height: 100%;
  min-width: 100%;
  width: fit-content;
  box-sizing: border-box;
  display: flex;
  align-items: flex-start;
  padding: 5px 5px 5px 0;
  background-color: #efefef;
  & > div:not(:last-child) {
    height: 100%;
  }
  & .smooth-dnd-drop-preview-constant-class {
    top: 0;
    left: 0;
  }
}

.view_KanbanBoard___new-grouptask {
  margin-left: 5px;
  width: 320px;
  height: 102px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #8f8f8f;
  font-weight: 500;
  font-size: 1.15em;
  line-height: 1.15em;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, .2);
  }
}

.view_KanbanBoard___column-container-clone {
  height: fit-content !important;
}

.view_KanbanBoard___dragdrop-placeholder {
  position: absolute;
  background-color: white;
  border-radius: 3px;
  border: dashed 1px blue;
  background-color: white;
}

.view_KanbanBoard___board-scrollbars {
  & > div:nth-child(2) {
    height: 12px !important;
    bottom: 0 !important;
    & > div {
      background-color: rgba(0, 0, 0, 0.5) !important;
    }
  }
}