.LocationItem {
  &--content {
    margin-top: 0;
    margin-bottom: 0;
    .MuiListItemText-primary {
      font-size: 14px;
      font-weight: 500;
      color: #333333;
    }
  }
  &--time {
    font-size: 13px;
    color: #555555;
  }
  &--location {
    font-size: 14px;
    color: #007bdc;
  }
}
// TabBody - Location Tab
.container-location-tabbody {
  padding: 10px 20px 50px 20px;
  .styled-list-item-location {
    width: 100%;
    .styled-common-location {
      display: flex;
      align-items: center;
      width: 100%;
      position: relative;
      margin: 0 0 0 -20px;
      padding: 10px 20px;
      cursor: pointer;
      .styled-menu-location {
        opacity: 0;
      }
      &:hover {
        background-color: #f2f5fa;
      }
    }
    &:hover .styled-menu-location {
      opacity: 1;
    }
  }
}
