.comp_CustomTable_HeaderButtonGroup___button {
  & {
    padding: 4px;
    border-radius: 0;
    color: #666;
  };
  &:not(:last-child) {
    border-right: none;
  };
  &:hover {
    background-color: #fff;
    & path {
      fill: #05b50c !important;
    }
    color: #05b50c;
  };
  & > span:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > span {
      margin-top: 5px;
      font-size: 11px;
      font-weight: normal;
    }
  };
  & > span:last-child {
    display: none;
  };
};

.comp_CustomTable_HeaderButtonGroup___popper {
  z-index: 20;
};

.comp_CustomTable_HeaderButtonGroup___search-box {
  margin-right: 8px;
};
.modal-add-member{
  &_content{
    padding-top: 15px;
  }
  &_card{
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    &-icon{
      img{
        width: 80px;
        height: 80px;
      }
    }
    &-text{
      padding-left: 20px;
      h4{
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 16px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}