.button-Group_header{
  .MuiButtonGroup-groupedTextHorizontal:not(:last-child){
    border-right: none;
  }
}
.comp_CustomTable_HeaderButtonGroup___button {
  & {
    padding: 4px;
    border-radius: 0;
    color: #666;
  };
  &:not(:last-child) {
    border-right: none;
  };
  &:hover {
    background-color: #fff;
    & path {
      fill: #05b50c !important;
    }
    color: #05b50c;
  };
  & > span:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > span {
      margin-top: 5px;
      font-size: 11px;
      font-weight: normal;
    }
  };
  & > span:last-child {
    display: none;
  };
};

.comp_CustomTable_HeaderButtonGroup___popper {
  z-index: 20;
};

.comp_CustomTable_HeaderButtonGroup___search-box {
  margin-right: 8px;
};
.modal-add-member{
  &_content{
    padding-top: 15px;
  }
  .comp_CustomModal___scrollbar-main-medium{
      height: 370px !important;
  }
  .comp_CustomModal___dialog-content{
    padding: 8px 50px;
  }
  &_card{
    display: flex;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    align-items: center;
    margin-bottom: 30px;
    cursor: pointer;
    &-icon{
      img{
        width: 80px;
        height: 80px;
      }
    }
    &-text{
      padding-left: 20px;
      h4{
        text-transform: uppercase;
        margin-bottom: 5px;
        font-size: 16px;
      }
      p{
        font-size: 14px;
      }
    }
  }
}
.modal_continue-create{
  &-loading{
    .modal_continue-create_table{
      opacity: .4;
    }
  }
      >div:nth-child(3)>div {
        min-width: 47vw !important;
        min-height: 300px !important;
        max-height: 90vh !important;
        
      }
 
   
  &_header{
    display: flex;
    justify-content: space-between;
    
    .display-none{
      display: none;
    }
    h3{
      text-transform: uppercase;
    }
      
      
    }
  
  &_table{
    margin-top: 20px;
    min-height: 50vh;
    table{
      width: 100%;
      thead tr th, tbody tr td{
      border: 1px solid #ccc;
      border-collapse: collapse;
    }
    tbody tr td {
      input,select{
        width: calc(100% - 10px);
      }
    }
    thead tr th{
      padding: 6px 0px;
    }
    tbody tr td {
      input,select{
        border: none;
        padding: 7px 5px;
        outline: none;
      }
      &:nth-of-type(2){
        input{
          color: #2D88FF;
        }
        
      }
      &:last-child{
        text-align: center;
      }
      input{
       
        
        &::placeholder {
          color: #babbb8;
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
    }
    
  }
 
  .account-internal_btn-create-account{
    background-color: #2D88FF;
    color: #ffffff;
    padding: 0 15px;
  }
}
.upload-excel {
  cursor: pointer;
  width: 100px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
  border-width: 1px;
  border-style: solid;
  border: none;
  background-color: rgb(224, 220, 220);
  border-image: initial;
  border-radius: 8px;
  transition: border 0.15s ease-in-out 0s;
  &:hover {
    border-width: 1px;
    border-style: solid;
    border-color: #05b50c;
    border-image: initial;
    background-color: #f7fcf0;
  }
  svg {
    width: 20% !important;
  }
  .content-btn-upload-excel{
    svg{
      margin-left: auto;
    }
    div{
      margin-right: auto;
    }
  }
}
.modal-account-internal{
  >div:nth-child(3) >div {
    min-width: 60vw !important;
  }
  .comp_CustomModal___dialog-content{
    padding: 25px;
  }
  .comp_CustomModal___scrollbar-main-medium{
     height: 45vh !important;
  }
.account-internal{
 
  &_content{
      padding: 20px 30px 40px;
      background-color: #f7d8cba3;
      font-size: 14px;
      border-radius: 3px;
      height: 100%;
      p{
          line-height: 22px;
      }
      a{
        color: #2D88FF;
      }
      &-message{
        .verify-account{
        display: flex;
        align-items: center;
        svg{
          path{
            fill: #13B045 !important;
          }
        }
          div{
            color: #13B045;
            padding-left: 5px;
          }
      }
      .no_verify-account{
        display: flex;
        align-items: center;
        div{
          color: red;
          padding-left: 5px;
        }
      }
      }
      
  }
  &_btn-create-account{
      background-color: #2D88FF;
      color: #ffffff;
      height: 40px;
  }
  
}
}
.modal{
  &_upload-excel{
    text-align: center;
    padding: 30px;
    &_downfile{
      color: #0173f0;
      font-size: 14px;
      cursor: pointer;
    }
    .MuiTouchRipple-root{
      font-size: 16px;
    }
  }
}

.modal_result-create-account{
  &_table{
    h3{
      text-transform: uppercase;
      text-align: center;
      font-size: 18px;
    }
    table{
      width: 100%;
      thead tr th, tbody tr td{
      border: 1px solid #ccc;
      border-collapse: collapse;
    }
    tbody tr td{
      padding: 6px 8px;
      :first-child{
        color: #2D88FF;
      }
    }
    thead tr th{
      padding: 6px 0px;
    }
   
    }
  }
  &_action{
    display: flex;
    justify-content: space-between;
    padding-top: 15px;
    align-items: center;
    & div:first-child{
      color: #41bf21;
    }
    & div:last-child{
      width: 130px;
    }
  }
}

.loading{
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 200;
  text-align: center;
  img{
    width: 100px;
    height: 100px;
  }
  div{
    display: block;
    font-weight: bold;
    font-size: 14px;
  }
}