.comp_CustomTable_HeaderButtonGroup___button {
  & {
    padding: 4px;
    border-radius: 0;
    color: #666;
  };
  &:not(:last-child) {
    border-right: none;
  };
  &:hover {
    background-color: #fff;
    & path {
      fill: #05b50c !important;
    }
    color: #05b50c;
  };
  & > span:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
    & > div {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    & > span {
      margin-top: 5px;
      font-size: 11px;
    }
  };
  & > span:last-child {
    display: none;
  };
};

.comp_CustomTable_HeaderButtonGroup___popper {
  z-index: 20;
};

.comp_CustomTable_HeaderButtonGroup___search-box {
  margin-right: 8px;
};