.update-task-status {
	.comp_CustomModal___scrollbar-main-miniWide {
		height: 100px!important;
	}
	.list-option {
		width: 100%;
		display: inline-block;
		text-align: center;
		margin-top: 10px;
	}
	.per-option {
		display: inline-block;
	    width: 100px;
	    padding: 10px 10px;
	    margin: 0px 5px;
	    border-radius: 3px;
	    cursor: pointer;
	    &-waiting {
	    	color: #ff9800;
    		border: 1px solid #ff9800;
	    }
	    &-waiting.active {
	    	color: #fff;
    		background: #ff9800;
	    }
	    &-doing {
	    	color: #03a9f4;
    		border: 1px solid #03a9f4;
	    }
	    &-doing.active {
	    	color: #fff;
    		background: #03a9f4;
	    }
	    &-complete {
	    	color: #03c30b;
    		border: 1px solid #03c30b;
	    }
	    &-complete.active {
	    	color: #fff;
    		background: #03c30b;
	    }
	}
}