.chatHeader {
  position: relative;
  &--avatar1_1 {
    width: 55px;
    height: 55px;
  }
  &--avatar2_1,
  &--avatar2_2 {
    width: 40px;
    height: 40px;
    display: inline-flex;
    margin: auto;
    background-color: #fff;
    border: solid 2px #fff;
  }
  &--avatar2_2 {
    transform: translateX(-20px);
    position: absolute;
  }
  &--avatar3_1 {
    width: 30px;
    height: 30px;
    margin: auto;
  }
  &--avatar3_2 {
    width: 30px;
    height: 30px;
    display: inline-flex;
    margin-right: 2px;
  }
  &--avatar3_3 {
    width: 30px;
    height: 30px;
    display: inline-flex;
    margin-left: 2px;
  }
  &--avatar3_1_plus {
    width: 29px;
    height: 29px;
    margin-right: 2px;
    display: inline-flex;
    margin-top: 6px;
  }
  &--avatar3_2_plus {
    width: 29px;
    height: 29px;
    display: inline-flex;
    margin-left: 2px;
  }
  &--avatar3_3_plus {
    width: 29px;
    height: 29px;
    display: inline-flex;
    margin-right: 2px;
    margin-left: 0px;
  }
  &--avatar_plus {
    width: 29px;
    height: 29px;
    top: -9px;
    display: inline-flex;
    margin-left: 2px;
    background-color: #b3e5fc;
    color: #fff;
  }
  &--title {
    font-size: 24px;
    font-weight: 500;
  }
  &--button {
    &:hover {
      background: none;
    }
    & > span > svg {
      &:hover {
        fill: #03b000;
      }
    }
    path {
      fill: currentColor !important;
    }
  }
  &--tabLabel {
    width: auto;
    margin-left: 0;
    margin-right: 7px;
    padding: 5px 0;
    .MuiTypography-root {
      // background-color: #f2f2f2;
      padding: 2px 5px;
      border-radius: 3px;
      font-weight: normal;
      // color: #8b8b8b;
      line-height: unset;
    }
    & > span:first-child {
      display: none;
    }
    &__selected,
    &:hover {
      color: #007bff;
    }
  }
}
