.view_ProjectGroup_List___banner {
  padding: 15px;
}

.view_ProjectGroup_List___primary {
  font-weight: 500;
}

.view_ProjectGroup_List_statistic {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 65%;
  margin-top: 5px;
  &_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > span {
      margin-left: 5px;
      font-weight: 500;
    }
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

a.MuiListItem-root.view_ProjectGroup_List-customListItem.MuiListItem-gutters {
  &:hover {
    background: #e5e5e5 !important;
  }
}

.view_ProjectGroup_List {
  &--LeftContainer {
    .active {
      background: #e5e5e5 !important;
    }
    .MuiTypography-body1 {
      font-size: 14px;
    }
  }
  @mixin commonItemStyle {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
    &:hover {
      background: #e5e5e5 !important;
    }
    span {
      margin-left: 10px;
      font-weight: 500;
      flex-grow: 1;
      font-size: 14px;
    }
    .MuiIconButton-label {
      margin-left: 0;
    }
    .rightIconControlList {
      display: none;
      position: absolute;
      right: 15px;
    }
    &:hover {
      .rightIconControlList {
        display: block;
      }
    }
  }
  &--startButton {
    @include commonItemStyle;
  }
  &--listGroup {
    &-header {
      @include commonItemStyle;
    }
    .textHeader {
      cursor: unset !important;
      &:hover {
        background: unset;
      }
    }
    .scrollList {
      height: calc(100vh - 280px);
    }
  }
  &-customListItem {
    cursor: pointer;
    .rightIconControlList {
      display: none;
    }
    &-dragIcon {
      position: absolute;
      left: 0;
      display: none;
    }
    &-nav {
      display: flex;
      align-items: center;
      height: 44px;
      padding-left: 42px;
    }
    &:hover {
      background: #f1f2f4 !important;
      .rightIconControlList {
        display: block;
      }
      .view_ProjectGroup_List-customListItem-dragIcon {
        display: flex;
        left: 20px;
      }
    }
    .MuiListItemIcon-root {
      min-width: 30px;
    }
    &__textPrimary {
      display: flex;
      align-items: center;
      & > *:first-child {
        margin-right: 5px;
        max-width: 160px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
        white-space: nowrap;
        display: block;
      }
    }
  }
}
.startBtnSetting {
  &-container {
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 190px;
    .text-primary {
      font-weight: 500;
      margin-bottom: 10px;
    }
    .hideBtn {
      width: 50px;
      margin-top: 10px;
      color: #969ead;
      background: #f5f6f8;
      line-height: unset;
      min-width: 40px;
      &:hover {
        color: var(--color-primary);
      }
      .MuiButton-label {
        text-transform: initial;
      }
    }
  }
}
.addWorkingGroupPopover {
  &-container {
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 300px;
    .text-primary {
      font-weight: 500;
      margin-bottom: 10px;
    }
    .btnAddGroup {
      background: #f5f6f8;
      margin-top: 10px;
      .MuiButton-label {
        text-transform: initial;
      }
    }
  }
}
.personalBoard {
  &-container {
    padding: 20px;
    width: 280px;
    & > div {
      margin-bottom: 10px;
    }
    .MuiButtonBase-root {
      background: #f1f0f0;
      min-width: 50px;
    }
    .MuiButton-label {
      text-transform: initial;
      font-size: 11px;
    }
    .MuiButton-text {
      padding: 0;
    }
  }
  &-actionItemWrapper {
    display: flex;
    flex-direction: column;
    .title {
      font-weight: 500;
    }
    .actionItem {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      & > *:first-child {
        margin-right: 10px;
      }
    }
  }
}
