.offerTabItem {
  position: relative;
  border-bottom: 1px solid #eeeeee;
  padding: 8px 0 10px;
  margin: 17px 0;
  cursor: pointer;
  &--content {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
    white-space: nowrap;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 18px;
    width: 91%;
    color: #5a5a5a;
  }
  &--user {
    display: flex;
    color: #666666;
    margin: 4px 0;
  }
  &--vote {
    margin: auto 8px;
  }
  &--avatar {
    width: 16px;
    height: 16px;
    margin-right: 4px;
  }
  &--priority {
    margin: 4px 4px 4px 0;
    padding: 4px;
    background-color: #ff110038;
    color: #ff1100;
    &__urgent {
      background-color: #ff980030;
      color: #ff9800;
    }
    &__nomal {
      color: #ffffff;
      background-color: blue;
    }
  }
  &--status {
    display: flex;
  }
  &--button {
    position: absolute;
    top: 0;
    right: 0;
    svg {
      transform: rotate(90deg);
    }
    &:hover {
      background: none;
    }
    & > span > svg {
      &:hover {
        fill: #03b000;
      }
    }
  }
  &--statusIcon {
    background-color: #9696962b;
    color: #878787;
    font-size: 12px;
    font-weight: 500;
    margin: 4px;
    padding: 4px 6px;
    border-radius: 2px;
    svg {
      fill: #ffffff;
    }
    &__rejected {
      background-color: red;
    }
    &__approve {
      background-color: greenyellow;
    }
    &__normal {
      background-color: #9696962b;
      color: #878787;
    }
  }
}

.offerDetail {
  .MuiDialogTitle-root {
    display: flex;
    border-bottom: 1px solid #cccccc;
  }
  .MuiDialogActions-root {
    border-top: 1px solid #cccccc;
  }
  .MuiDialogContent-root {
    min-width: 600px;
    padding: 0;
  }
  &--avatar {
    margin-right: 8px;
  }
  &--title {
    font-weight: bold;
  }
  &--priority {
    border-top: 1px solid #cccccc;
    display: flex;
    padding: 18px 0px;
    &Label {
      color: red;
      &__urgent {
        color: orange;
      }
      &__nomal {
        color: blue;
      }
    }
  }
  &--createdAt {
    font-weight: normal;
  }
  &--closeButton {
    position: absolute;
    top: 0;
    right: 0;
  }
  &--container {
    padding: 0px 24px;
  }
  &--content {
    margin: 20px 0 30px;
    font-size: 15px;
    font-weight: 600;
  }
  &--data {
    display: flex;
  }
  &--user {
    display: flex;
    &Name {
      line-height: 20px;
    }
  }
  &--label {
    color: #6d6d6d;
    width: 25%;
  }
  &--result {
    color: #6d6d6d;
    display: flex;
    padding: 18px 0px;
  }
  &--avatarIcon {
    width: 20px;
    height: 20px;
    margin: auto 4px;
  }
  &--handler {
    display: flex;
    color: #6d6d6d;
    border-top: 1px solid #cccccc;
    padding: 18px 0px;
  }
  &--monitor {
    display: flex;
    color: #6d6d6d;
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 18px 0px;
  }
}

.offerDetailItem {
  display: flex;
  margin: 8px;
  &--avatarIcon {
    margin: 4px;
  }
  &--data {
    background-color: #cccccc;
    padding: 8px;
  }
  &--itemName {
    font-weight: bold;
  }
  &--itemRole {
    font-weight: normal;
    color: #666666;
  }
  &--itemStatus {
    &__ok {
      color: green;
    }
    &__denied {
      color: red;
    }
  }
  &--itemComment {
  }
  &--iconStatus {
    display: flex;
    justify-content: center;
    flex-direction: column;
    svg {
      fill: #ffffff;
    }
    &__ok {
      background-color: green;
    }
    &__denied {
      background-color: red;
    }
  }
  &--buttonMore {
    &:hover {
      background: none;
    }
    & > span > svg {
      &:hover {
        fill: #03b000;
      }
    }
  }
}

.approve {
  &--content {
    margin: 20px 0;
    min-width: 500px;
  }
  &--user {
    display: flex;
  }
  &--select {
    display: flex;
    justify-content: space-evenly;
  }
  &--option {
    margin: 4px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    color: #dddddd;
    padding: 4px;
    &-icon {
      padding: 4px;
      background-color: #dddddd;
      text-align: center;
    }
    &-text {
      padding: 20px;
      text-transform: uppercase;
      font-weight: bold;
    }
    &__selected {
      color: #000000;
    }
    svg {
      fill: #999999;
    }
    &__red {
      background-color: red;
      svg {
        fill: #ffffff;
      }
    }
    &__green {
      background-color: green;
      svg {
        fill: #ffffff;
      }
    }
  }
  &--title {
    font-weight: bold;
  }
}
