.ImageMessage {
  margin-top: 15px;
  display: flex;
  &__mid,
  &__bot {
    margin-top: 5px;
  }
  &--rightContentWrap {
    width: 100%;
    margin-left: 10px;
    position: relative;
    &__self {
      width: 75%;
      margin-right: 0;
      margin-left: auto;
      .ImageMessage--imagesContainer {
        justify-content: flex-end;
      }
    }
  }
  &--loading {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: greenyellow;
  }
  &--loadingPercent {
    background-color: green;
    height: 10px;
  }
  &--sender {
    display: flex;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 25px;
    margin-left: 10px;
    width: max-content;
    &__reply {
      padding: 0;
    }
  }
  &--avatar {
    width: 25px;
    height: 25px;
    &Reply {
      margin-right: 4px;
      width: 12px;
      height: 12px;
    }
    &__hidden {
      img {
        display: none;
      }
    }
  }
  &--name {
    font-size: 12px;
    color: #01a750;
    &__admin {
      color: #e47212;
    }
  }
  &--position {
    font-size: 12px;
    color: #ababab;
    margin-left: 5px;
  }
  &--room {
    font-size: 11px;
    background-color: #eaebed;
    color: #e47212;
    padding: 2px 3px;
    border-radius: 50%;
    margin-left: 5px;
  }
  &--imagesContainer {
    display: flex;
    flex-wrap: wrap;
  }
  &--wrap {
    position: relative;
    margin: 5px;
    &__number1 {
      width: 25%;
    }
    &__number2 {
      width: 25%;
    }
    &__number3 {
      width: 25%;
    }
    &__number4 {
      width: 100%;
    }
    &__number5 {
      width: 100%;
    }
    &__number6,
    &__total6-4,
    &__total6-5 {
      width: 25%;
    }
    &__total1-1 {
      width: 66%;
    }
    &__total2-1,
    &__total2-2 {
      width: 38%;
    }
    &__number4-4 {
      width: 100%;
    }
    &__number5-4,
    &__number5-5 {
      width: 100%;
    }
    &__number6-plus {
      width: 25%;
    }
    &__reply {
      width: 30px;
      height: 30px;
    }
  }
  &--plus {
    background-color: #d8d8d8;
    font-size: 15px;
    color: #333333;
    text-align: center;
    line-height: 30px;
    position: relative;
    &Text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      &Number {
        font-size: 24px;
        color: #fff;
        position: absolute;
        top: 40%;
        left: 40%;
      }
    }
    &__reply {
      width: 30px;
      height: 30px;
    }
  }
  &--quality {
    position: absolute;
    top: 10px;
    left: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    padding: 2px 5px;
  }
  &--img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    &__reply {
      width: inherit;
      height: inherit;
      border-radius: 0px;
    }
  }
  &--time {
    font-size: 12px;
    color: #ababab;
    &__self {
      color: #d8d7d7;
    }
  }
  &:hover .CommonMessageAction {
    opacity: 1;
  }
}
