.detailRemind {
  .MuiDialogContent-root {
    padding: 8px 0;
  }
  .MuiDialogTitle-root {
    border-bottom: 1px solid #c4c4c4;
  }
  &--closeButton {
    position: absolute;
    right: 4px;
    top: 4px;
    color: grey;
  }
  &--time {
    padding: 16px;
    margin-right: 14px;
    color: #ffffff;
    background-color: rgb(0, 156, 243);
    border-radius: 2px;
  }
  &--main {
    display: flex;
    background-color: #f0f0f0;
    padding: 16px 20px;
  }
  &--day {
    font-size: 48px;
    font-weight: 700;
  }
  &--title {
    display: flex;
    font-size: 14px;
    font-weight: 500;
  }
  &--avatar {
    width: 40px;
    height: 40px;
    margin-right: 14px;
  }
  &--creator {
    display: flex;
  }
  &--content {
    padding: 16px 20px;
    min-width: 500px;
    font-size: 16px;
    color: #111111;
  }
  &--remind {
    display: flex;
    svg {
      margin-right: 4px;
    }
    .MuiChip-root {
      border-radius: 5px;
    }
  }
  &--data {
    justify-content: center;
    display: block;
    flex-direction: column;
    line-height: 2;
    font-weight: bold;
    width: 100%;
    font-size: 14px;
  }
}

.remindModal {
  .MuiOutlinedInput-inputAdornedEnd,
  .MuiOutlinedInput-input {
    padding: 11px;
  }
  .MuiOutlinedInput-adornedEnd {
    .MuiButtonBase-root {
      padding: 0px;
    }
  }
  &--dateRemind,
  &--mileStone {
    font-size: 13px;
    width: 228px;
    padding: 15px 0 3px;
  }
  &--timeRemind {
    font-size: 13px;
    width: 164px;
    padding: 15px 0 3px;
  }
  &--repeatRemind {
    font-size: 13px;
    width: 164px;
    padding: 15px 0 3px;
    display: flex;
    align-items: center;
  }
}
