.header-setting-container {
  grid-area: table;
  overflow: auto;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  .header-setting {
    padding: 10px 10px 10px 20px;
    display: flex;
    align-items: center;
    height: 49px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .star-icon {
      font-size: 24px;
      margin-right: 10px;
      color: #05b50c;
    }
    .header-title {
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      text-transform: unset;
      color: rgb(68, 68, 68);
    }
  }
}
.input-file {
  display: none;
}
.none-boxshadow {
  box-shadow: none;
  &:hover {
    box-shadow: none;
  }
}
