.comp_CustomDetailBox___container {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr max-content;
  grid-template-columns: auto;   
};

@mixin comp_CustomDetailBox___sub-container {
  padding: 0 16px;  
};

.comp_CustomDetailBox___sub-container {
  @include comp_CustomDetailBox___sub-container;
}

.comp_CustomDetailBox___action-box {
  @include comp_CustomDetailBox___sub-container;
  margin-top: 16px;
  padding-bottom: 10px 16px 20px;
  border-top: 1px solid #e4e4e4;
  & > * {
    text-transform: none;
    justify-content: flex-start;
    & > span:last-child {
      display: none;
    };
    background-color: #fff;
    &:hover {
      background-color: #fff;
    };
  };
}