.CreateRemindWithDuration {
  &--title {
    line-height: 30px;
    text-align: center;
    color: #9e9e9e;
    position: relative;
    font-weight: normal;
    text-transform: none;
  }
  &--percent {
    display: flex;
    justify-content: center;
    margin: 4px;
  }
  &--duration {
    color: #f5a615;
    border-radius: 5px;
    border: 1px solid #f5a615;
    padding: 4px 6px;
    margin: 0px 4px;
  }
}
