.view_Project_MemberSetting_Modal___list-container {
  margin-top: 8px;
}

.view_Project_MemberSetting_Modal___list {
  margin-bottom: 20px;
}

.view_Project_MemberSetting_Modal___list-subheader {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 0 15px 0 24px;
  position: relative;

  &>* {
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    display: block;
    position: relative;
    line-height: 15px;
    width: 100%;
  }
}

.view_Project_MemberSetting_Modal___list-item {
  padding: 10px 15px 10px 24px;

  &:hover {
    cursor: auto !important;
  }
}

.view_Project_MemberSetting_Modal___banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: unset;
  margin: 15px 15px 15px 24px;
}

.view_Project_MemberSetting_Modal___table-head {
  background-color: #eee;

  & * {
    text-transform: none;
  }
}

.view_Project_MemberSetting_Modal___table-cell {
  &>span {
    font-size: 15px;
    color: #111;
  }

  &>small {
    font-size: 13px;
    color: #333;
  }
}

.view_Project_MemberSetting_Modal___table-row {
  &>td {
    border-bottom: 1px solid rgb(240, 240, 240);
  }
}


.view_Project_MemberSetting_Modal___avatar-table-cell {
  text-align: center;
  padding: 5px 10px 5px 24px !important;
}

.view_Project_MemberSetting_Modal___roles-box {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  &>* {
    margin: 3px 5px 0 0;
    padding: 2px 3px;
  }

  &>p {
    color: #222;
    font-size: 12px;
    border-radius: 2px;
    padding: 2px 8px;
    background: #ff98004f;
    width: max-content;
  }
}

@mixin view_Project_MemberSetting_Modal___add-button {
  height: 25px;
  text-transform: unset;
  padding: 2px 8px;
  width: 75px;
  min-width: unset;
}

.view_Project_MemberSetting_Modal___add-button {
  & {
    @include view_Project_MemberSetting_Modal___add-button;
    border: 1px solid rgb(220, 220, 220);
    font-weight: normal;
    color: #444;
    line-height: 20px;
  }

  &-disabled {
    @include view_Project_MemberSetting_Modal___add-button;
    font-weight: normal;
    line-height: 20px;
    cursor: not-allowed;
    opacity: 0.65;
  }
}


@mixin view_Project_MemberSetting_Modal___menu-item {
  display: flex;
  align-items: center;

  &>svg {
    margin-right: 10px;
  }

  &:nth-child(2),
  &:nth-child(3) {
    border-bottom: 1px solid #f4f4f4;
  }
}

.view_Project_MemberSetting_Modal___menu-item {
  & {
    @include view_Project_MemberSetting_Modal___menu-item;
    color: #222;

    &>svg {
      fill: #888;
    }
  }

  &-selected {
    @include view_Project_MemberSetting_Modal___menu-item;
    color: #05b50c;

    &>svg {
      fill: #05b50c;
    }
  }
}

;

.view_Project_MemberSetting_Modal___primary {
  font-size: 15px;
  color: #111;
  &>abbr {
    text-decoration: none;
  }
}

.view_Project_MemberSetting_Modal___secondary {
  font-size: 13px;
  color: #333;
  &>abbr {
    text-decoration: none;
  }
}

.view_Project_MemberSetting_Modal___right-container {
  &>* {
    &:nth-child(1) {
      font-size: 14px;
      padding: 12px;
    }
  }
}

@mixin view_Project_MemberSetting_Modal___sub-header {
  color: #555;
  text-transform: uppercase;
  font-weight: 500;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  padding: 12px 24px;
  margin: 0;
}

.view_Project_MemberSetting_Modal___right-header {
  @include view_Project_MemberSetting_Modal___sub-header;
}

;

.view_Project_MemberSetting_Modal___left-header {
  @include view_Project_MemberSetting_Modal___sub-header;
}

@mixin view_Project_MemberSetting_Modal___permission-box {
  font-size: 12px;
  border-radius: 2px;
  padding: 2px 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  width: max-content;
  display: flex;
  align-items: center;
  width: 90px;

  &:hover {
    cursor: pointer;
    background: #eee;
  }

  &:active {
    background: #ddd;
  }
}

.view_Project_MemberSetting_Modal___permission-box {
  & {
    @include view_Project_MemberSetting_Modal___permission-box;
    color: #222;
  }

  &-admin {
    @include view_Project_MemberSetting_Modal___permission-box;
    color: red;
  }

  &-empty {
    @include view_Project_MemberSetting_Modal___permission-box;

    &>span:first-child {
      color: white;
      width: 12px;
      height: 12px;
      line-height: 12px;
      text-align: center;
      vertical-align: center;
      border-radius: 99px;
    }

    &>span:not(:first-child) {
      margin-left: 5px;
    }
  }
}

.view_Project_MemberSetting_Modal___role-button {
  font-size: 12px;
  border-radius: 2px;
  margin: 0;
  padding: 3px 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: #fff;
  width: max-content;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
    background: #eee;
  }

  &:active {
    background: #ddd;
  }

  &>span:first-child {
    color: white;
    width: 12px;
    height: 12px;
    line-height: 12px;
    text-align: center;
    vertical-align: center;
    border-radius: 99px;
  }

  &>span:not(:first-child) {
    margin-left: 5px;
  }
}

.view_Project_MemberSetting_Modal___wide-modal {
  &>div:nth-child(3)>div {
    overflow: hidden;
    min-width: 40vw;
    max-width: 80vw;
  }
}

.view_Project_MemberSetting_Modal___helper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: unset;
  margin: 15px 15px 15px 24px;
  border-bottom: 1px solid #efefef;
  padding-bottom: 5px;

  &>*:not(:first-child) {
    margin-left: 5px;
  }
}
.view_Project_MemberSetting_Modal__textShorten {
  width: 120px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}