.comp_MySelect___title {
  margin: 0 0 8px 0;
  font-size: 14px;
  font-weight: 500;
  color: #222;
  z-index: initial !important;
}

.comp_MySelect___select {
  box-shadow: 0px 0px 10px #d5d5d5;
  border-radius: 4px;
}