.comp_MySelect___title {
  color: #9a9a9a;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  display: block;
  position: relative;
  line-height: 15px;
  width: 100%;
  z-index: initial !important;
}