.ShareFromLibraryModal {
  .MuiDialogContent-root {
    padding: 0;
    height: 100%;
  }
  &--container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    // border: 1px solid #e0e0e0;
    height: 100%;
  }
  &--left {
    border-right: 1px solid #e0e0e0;
    // min-height: 660px;
    height: 100%;
    display: grid;
    grid-template-rows: 70px calc(100% - 70px);
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "body";
  }
  &--titleLeft {
    grid-area: header;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 100;
    color: #222;
    font-size: 15px;
    text-transform: uppercase;
  }
  &--MenuList {
    grid-area: body;
    height: 100%;
  }
  &--right {
  }
  &--right-header-content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
  }
  &--search-box {
    cursor: pointer;
    text-align: center;
    text-transform: uppercase;
    svg {
      margin: auto;
    }
  }
  &--lb-title-text {
    text-align: center;
  }
  &--searching {
    position: relative;
    padding: 5px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    height: 60px;
    justify-content: center;
    display: flex;
    .MuiInputBase-root {
      background-color: transparent;
    }
  }
  &--SearchInput {
    margin: auto;
  }
  &--notFound {
    // text-align: center;
    padding: 30px 10px 0 40px;
  }
  &--iconButton {
    // position: absolute;
    // right: 10px;
    // top: 20px;
  }
  &--right-table-content {
    // height: calc(100% - 64px);

    .full-avatar {
      border-radius: unset;
      width: 30px;
      height: auto;
    }
    .owner-avatar {
      width: 20px;
      height: 20px;
      margin: 0 auto;
    }
  }
  &--iconTitle {
    width: 25px !important;
    height: 25px !important;
    margin-right: 25px;
    vertical-align: middle;
  }
  &--lb-title {
    font-size: 21px;
    // line-height: 25px;
    font-weight: 500;
    text-transform: unset;
    color: #212529;
  }
  &--bread-crumbs-item {
    cursor: pointer;
  }
  &--table-container {
  }
  &--table-header {
    background-color: #f4f4f4;
    height: 42px;
    color: #666;
  }
  &--table-body {
  }
  .menu-list {
    .menu-item {
      height: 55px;
      display: flex;
      align-items: center;
      // border-radius: 10px;
      // margin: 10px 0;
      cursor: pointer;
      &.selected,
      &:hover {
        background-color: #e6f0ff;
      }

      .menu-icon {
        margin: 0 15px;
        // border-radius: 50%;
        // background-color: #efefef;
        padding: 7px;
        width: 25px !important;
        height: 25px !important;
      }
      .menu-text {
        font-weight: 500;
        color: #000;
        font-size: 17px;
      }
    }
  }
}
