.search-modal {
  .content-wrapper {
    padding: 0 20px;
    .dialog-header {
      display: flex;
      padding: 10px 0;
      .search-box {
        width: 100%;
        margin-right: 10px;
      }
    }
    .MuiDialogContent-root {
      min-height: 400px;
    }
    .MuiDialogActions-root {
      justify-content: flex-start;
      height: 30px;
      .num-search-result {
        color: #f37c00;
        font-weight: 500;
      }
    }
    .MuiDialogContent-root {
      padding: 16px 0;
    }
    .empty-content-container {
      .image-contain {
        display: flex;
        justify-content: center;
      }
      p {
        font-size: 14px;
        opacity: 0.65;
        text-align: center;
      }
      &.empty-result {
        b {
          font-size: 14px;
        }
        p {
          text-align: left;
          opacity: 1;
        }
        li {
          margin: 5px 0;
        }
      }
    }
  }
  .search-list-result {
    height: 400px;
    .result-item {
      padding-right: 10px;
    }
  }

  .search-result-item {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    .icon-avatar {
      align-self: center;
      width: 30px;
      height: 30px;
      margin-right: 10px;
      border-radius: 50%;
    }
    .result-content {
      flex: 1 1 auto;
      padding: 0 10px;
      .result-title {
        cursor: pointer;
        font-size: 15px;
        font-weight: 500;
        color: #414141;
        line-height: 22px;
        p {
          font-weight: 500;
          color: #222;
          margin: 0;
          cursor: pointer;
          &:hover {
            color: #2196f3;
          }
        }
        &:hover {
          color: #00b707;
        }
      }
      .sub-description {
        font-size: 13px;
        p {
          font-weight: normal;
          color: #757575;
          margin: 0;
          cursor: pointer;
          &:hover {
            color: #2196f3;
          }
        }
      }
    }

    .work-status {
      min-width: 70px;
      text-align: right;
      line-height: 22px;
    }
  }
}
