.google-driver-container {
  padding-top: 70px;
  text-align: center;
  max-width: 440px;
  margin: auto;
  .description {
    font-size: 15px;
    padding: 25px 0 20px;
  }
  .btn-action {
    padding: 5px 0;
    .btn-signin {
      min-width: 150px;
      text-transform: uppercase;
      border-radius: 20px;
      height: 40px;
      font-weight: 500;
    }
  }
}

.doc-table-content {
  .last-cell {
    padding-right: 25px;
  }
  .file-name-document {
    word-break: break-all;
    word-break: break-word;
  }
}
.address-link {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  text-decoration: none;
  &:hover {
    color: rgb(0, 128, 255);
  }
}
.block-icon-share-drive {
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-radius: 50%;
  background-color: #fff;
  width: 20px;
  height: 20px;
  display: flex;
}
.icon-share-drive {
  width: 14px !important;
  height: 14px !important ;
  margin: auto;
}
.position-relative {
  position: relative;
}
.no-file-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  height: 100%;
  .text-des {
    color: #797979;
    font-size: 15px;
  }
}
