.Dropdown-item {
  height: auto;
  margin: 0;
  padding: 10px;
  height: 30px;
  line-height: 30px;
}

.Dropdown-item a {
  text-decoration: none;
  font-weight: 500;
  color: #808080;
  font-size: 15px;
}

.Dropdown-item:focus {
  background-color: rgb(255, 247, 230);
}


.bg_red {
  background-color: red;
}

.Dropdown-item:hover {
  background-color: rgb(242, 245, 250);
  cursor: pointer;
}

.Dropdown-item__icon {
  float: right;
}

.Dropdown-item_title {
  font-weight: 500;
  color: black;
}

.Dropdown-item__sub_menu {
  list-style: none;
  padding-left: 0;
}


.Dropdown-item__sub_menu li {
  padding: 10px;
  height: 20px;
  line-height: 20px;
}

.Dropdown-item__sub_menu li a {
  font-size: 13px;
  font-weight: 500;
  list-style: none;
  text-decoration: none;
  color: black;
}

.Dropdown-item__sub_menu li:hover {
  background-color: #e0e0e0;
}

.OfferView-project {
  &__contentPanel {
    box-shadow: none !important;
    margin: 0 !important;

    &_Summary {
      flex-direction: row-reverse;
      padding: 0;
      margin: 0 30px 0 0;
      min-height: 0 !important;

      .MuiExpansionPanelSummary-content {
        margin: 0 !important;
      }

      .MuiExpansionPanelSummary-expandIcon.Mui-expanded {
        transform: rotate(180deg) !important;
      }

      .MuiExpansionPanelSummary-expandIcon {
        transform: rotate(90deg) !important;
      }

      .MuiList-padding {
        padding: 0 !important;
      }
    }
  }

  &_projectPanelDetail {
    padding: 0;
    flex-direction: column;
  }

  &_projectItem {
    margin: 0px;
    font-weight: 500;
    font-size: 14px;
    padding: 15px 15px 15px 43px;
    cursor: pointer;
    line-height: 1.5;
    &:hover {
      background-color: #f2f5fa;
    }
    &__selected {
      background-color: #f2f5fa;
      font-weight: bold;
      color: #545454;
    }
  }
}