.offerModal {
  .MuiDialogContent-root {
    padding: 0 24px 30px 24px;
  }

  .MuiInput-underline:before {
    border-bottom: 1px solid rgba(153, 153, 153, 0.42);
  }

  .MuiOutlinedInput-multiline {
    padding: 10px;
  }

  .MuiChip-root {
    background-color: #ececec;
  }

  &--title {
    color: #9a9a9a;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    display: block;
    position: relative;
    line-height: 15px;
    margin: 25px 0 10px 0;
    width: 100%;
  }

  &--content {
    label {
      font-size: 14px;
      z-index: 0;
    }
  }

  &--input__hidden {
    visibility: hidden;
  }

  &--buttonAdd {
    svg {
      width: 15px !important;
      height: 15px !important;
      fill: #0486ee;
    }
  }

  &--input_rate_prefix_1 {
    border: 1px solid rgba(0, 0, 0, 0.23);
    height: 38px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
    width: 70%;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
  }

  &--input__rate input {
    outline: none;
    width: 30px;
    overflow: hidden;
    border-width: 0;
    border: none;
  }

  &--custom_select {
    min-width: 90px !important;
  }

  &--input_select span {
    border-right: 1px solid rgba(0, 0, 0, 0.23);
    padding-right: 5px;
  }

  &--expand_icon {
    font-size: 25px;
  }

  &--approve_member div {
    border-right: 1px solid rgba(0, 0, 0, 0.23);
    padding-right: 5px;
  }

  &--approve_member {
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &--input_select {
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding-left: 5px;
    padding-right: 5px;
  }

  &--input_rate_suffix {
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-radius: 4px;
    border-left: 0;
    height: 38px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    display: flex;
    align-items: center;
    width: 9%;
  }

  &--input__rate {
    width: 20%;
    height: 38px;
    border: 1px solid rgba(0, 0, 0, 0.23);
    border-left: 0;
    border-right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &--textAdd {
    color: #0486ee;
    line-height: 17px;
    margin-left: 5px;
    font-size: 13px;
  }

  &--attach {
    .MuiButton-root {
      margin: 20px 0 0;
      background-color: #fbfbfb;
      border: 1px solid #e6e6e6;
    }

    .MuiButton-label {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 3px 10px;
      font-size: 14px;
      font-weight: normal;
      text-transform: initial;
    }
  }
}

.offerFile {
  display: inline-block;
  position: relative;
  background-color: #f5f5f5;
  margin: 10px 0;
  padding: 10px 15px;
  border-radius: 25px;
  color: #007de0;

  &--name {
    display: block;
    float: left;
    line-height: 15px;
  }

  &--size {
    margin-right: 20px;
    width: 67px;
  }

  &--icon {
    cursor: pointer;
    width: 15px !important;
    height: 15px !important;
    margin-left: 10px;
    fill: #a4a4a4;
  }
}