.view_Member_UserInfo___container {
  height: calc(100vh - 55px - 16px);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(450px, 3fr) minmax(350px, 2fr);
  grid-template-areas: 
    "main side";
};

.view_Member_UserInfo___main-box {
  grid-area: main;
  height: 100%;
  border-right: 1px solid rgba(0, 0, 0, .1);
  display: grid;
  grid-template-rows: 60px 1fr 35px;
  align-self: stretch;
  row-gap: 9px;
  & > *:not(:first-child) {
    border-top: 1px solid rgba(0, 0, 0, .1);
  }
  & > *:first-child {
    margin-top: 9px;
  }
};

.view_Member_UserInfo___main-header {
  padding: 0 16px;
  display: flex;
  align-items: center;
  & > *:not(:first-child) {
    margin-left: 16px;
  }
  & > *:nth-child(3) {
    margin-left: auto;
  }
};

.view_Member_UserInfo___main-list {
  padding: 15px 20px;
};

.view_Member_UserInfo___list-item {
  padding: 8px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &:last-child {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    & > *:last-child {
      margin-top: 8px;
    }
  }
};

.view_Member_UserInfo___main-footer {
  padding: 0 16px;
  & > input[type='file'] {
    display: none;
  }
  & > button {
    & > span {
      text-transform: none;
    }
  }
};

.view_Member_UserInfo___button {
  display: flex;
  align-items: center;
  background-color: #eee;
  padding-left: 32px;
  & > span:first-child {
    justify-content: flex-start;
    & > *:first-child{
      margin-right: 8px;
    }
  }
};

.view_Member_UserInfo___side-box {
  grid-area: side;
};

.view_Member_UserInfo___side-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 69px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  & > * {
    padding: 0;
    margin: 0 5px;
    color: #222;
    font-size: 15px;
    text-transform: uppercase;
  }
};

.view_Member_UserInfo___side-list {
  padding: 16px;
  & > * {
    padding: 0px;
    border-bottom: none;
  }
};

.view_Member_UserInfo___name-span {
  font-size: 21px;
  font-weight: bold;
  color: #222;
}