@mixin comp_CustomModal___scrollbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &>div:nth-child(3) {
    z-index: 999;
  }
}

.comp_CustomModal___scrollbar {
  &-main {
    &-tall {
      @include comp_CustomModal___scrollbar;
      height: calc(100vh - 64px - 64px - 56.5px) !important;
    }

    &-medium {
      @include comp_CustomModal___scrollbar;
      height: calc(90vh - 64px - 64px - 56.5px) !important;
    }

    &-short {
      @include comp_CustomModal___scrollbar;
      height: calc(80vh - 64px - 64px - 56.5px) !important;
    }

    &-mini {
      @include comp_CustomModal___scrollbar;
      height: calc(70vh - 64px - 64px - 56.5px) !important;
    }
  }

  &-side {
    &-tall {
      @include comp_CustomModal___scrollbar;
      height: calc(100vh - 64px - 64px - 56.5px - 46px) !important;
    }

    &-medium {
      @include comp_CustomModal___scrollbar;
      height: calc(90vh - 64px - 64px - 56.5px - 46px) !important;
    }

    &-short {
      @include comp_CustomModal___scrollbar;
      height: calc(80vh - 64px - 64px - 56.5px - 46px) !important;
    }

    &-mini {
      @include comp_CustomModal___scrollbar;
      height: calc(70vh - 64px - 64px - 56.5px - 46px) !important;
    }
  }
}

.comp_CustomModal___dialog-content {

  // & > *:not(:last-child) {
  //   margin-bottom: 12px;
  // }
  &>input[type="file"] {
    display: none;
  }
}

.comp_CustomModal___dialog-title {
  background-color: #f5f8fc;
  padding: 6px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  &>h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &>button {
      padding: 12px 12px;
    }
  }
}

.comp_CustomModal___dialog-actions {
  padding: 15px 24px;
}

@mixin comp_CustomModal___accept-button {
  padding: 8px 16px;
  background-color: #fff;

  &:hover {
    background-color: #eee;
  }

  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;

  &>span:last-child {
    display: none;
  }
}

.comp_CustomModal___accept-button {
  & {
    @include comp_CustomModal___accept-button;
  }

  &-disabled {
    @include comp_CustomModal___accept-button;
    // color: #999 !important;
    opacity: 0.5;
  }
}

.comp_CustomModal___cancle-button {
  padding: 8px 16px;
  background-color: #fff;

  &:hover {
    background-color: #eee;
  }

  color: #222;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;

  &>span:last-child {
    display: none;
  }
}

@mixin comp_CustomModal___dialog {
  &>div:nth-child(3)>div {
    overflow: hidden;
    min-width: 60vw;
    max-width: 80vw;
  }
}

.comp_CustomModal___dialog {
  &-sm {
    @include comp_CustomModal___dialog;

    &>div:nth-child(3)>div {
      max-width: 800px;
    }
  }

  &-md {
    @include comp_CustomModal___dialog;

    &>div:nth-child(3)>div {
      max-width: 70vw;
    }
  }

  &-lg {
    @include comp_CustomModal___dialog;

    &>div:nth-child(3)>div {
      max-width: 90vw;
    }
  }
}

@mixin comp_CustomModal___two-columns-container {
  display: grid;
  grid-template-rows: 1fr;

  &>* {
    &:first-child {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.comp_CustomModal___two-columns-container {
  &-w-md {
    @include comp_CustomModal___two-columns-container;
    grid-template-columns: 2fr 3fr;
  }

  &-w-lg {
    @include comp_CustomModal___two-columns-container;
    grid-template-columns: 3fr 8fr;
  }
}

@mixin comp_CustomModal___header {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 14px;
  text-align: center;
  padding: 12px;
}

.comp_CustomModal___header {
  &-left {
    @include comp_CustomModal___header;
    text-align: center;
  }

  &-right {
    @include comp_CustomModal___header;
    text-align: start;
  }
}

.comp_CustomModal {
  &___iconButton {
    padding: 0px;
  }

  &___scroll {
    position: relative;
    overflow: hidden;
    width: 100%;
    float: left;
    display: block;
  }

  &___overlay {
    min-height: 300px;
    float: left;
    display: block;
    width: 100%;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    max-height: 70vh;
  }
}