.comp_JobPage_Layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.comp_JobPage_Layout_Header {
  height: 70px;
  display: flex;
  align-items: center;
}
E .comp_JobPage_Layout__Content {
  flex: 1;
  padding: 20px 0;
  background-color: #f6f6f6;
}
.comp_JobPage_Layout__Title {
  font-weight: bold;
  font-size: 1.4em;
  flex: 1;
}
.comp_JobPage_Layout__Actions {
  display: flex;
  align-items: center;
  padding: 0 10px;
}
.comp_JobPage_Layout__Actions_Item {
  padding: 8px;
  margin: 3px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 60px;
  color: #848484;
  cursor: pointer;
}
.comp_JobPage_Layout__Actions_Item > *:first-child {
  margin-bottom: 8px;
}
.comp_JobPage_Layout__Actions_Item:hover {
  background: #f1f1f1;
}
