.export-pdf--input{
    margin-bottom: 15px;
  }
  
.config--drawer--section-subtitle {
    display: flex;
    text-transform: none !important;
    justify-content: space-between;
}

.config--drawer--section-subtitle span{
   font-size: 13px;
   font-weight: normal;
   text-transform: none;
   
}
.config--drawer--footer-section{
    display: flex;
}

.config--drawer--footer-section button{
    border-radius: 0;
    height: 60px;
    text-transform: uppercase;
}
.ant-drawer-footer{
    padding: 0 !important;
}
.export-pdf--drawer__container {
    padding-right: 15px
}
.export-pdf--drawer__date-picker {
    width: 40%
}
.export-pdf--drawer__date-picker .MuiOutlinedInput-adornedEnd {
    padding-right: 0px
}
.export-pdf--drawer__date-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 30px;
}
.gantt--header-component_container .ant-row-end {
    line-height: 1.75;
}


.export-pdf--drawer__container{
    margin-top: 10px;
}
.config--drawer--section-subtitle__blue-text{
    color: #4370f7;
    cursor: pointer;
    font-weight: 500 !important;
}