.comp_CustomTable___container {
  grid-area: right;
  display: grid;
  grid-template-rows: 70px calc(100vh - 70px - 50px);
  grid-template-columns: 1fr;
  grid-template-areas:
    'header'
    'body';    
};

.comp_CustomTable___header {
  grid-area: header;
  padding: 10px 10px 10px 20px;
  display: flex;
  align-items: center;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 10;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
};

.comp_CustomTable___left-header {
  max-width: 250px;
  & > div:first-child {
    display: flex;
    align-items: center;
    color: #444;
    & > p {
      margin: 0;
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      text-transform: unset;
    };
  };
  & > span:last-child {
    font-size: 11px;
  };
};

.comp_CustomTable___right-header {
  margin-left: auto;
  & > *:last-child {
    margin-left: 16px;
  };
};

.comp_CustomTable___button {
  padding: 8px 12px;
  margin-top: 8px;
  background-color: #fd7e14;
  color: #fff;
  &:hover {
    background-color: rgb(227,113,18);
  }
};

.comp_CustomTable___table-main {
  grid-area: body;
  overflow-y: auto;
};