.view_Department_AllUserTalbe___user-badge {
  & > span {
    height: 20px;
    width: 23px;
    border: 2px solid #fff;
    top: -10px;
    right: -3px;
    font-size: 10px;
    background-color: #f44336;
    color: #fff;
    transform: none;
  }
}

@mixin view_Department_AllUserTalbe___tooltip {
  max-width: 110px;
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 10px;
  & > div {
    display: flex;
    margin-bottom: 5px;
    & > * {
      font-size: 11px;
    }
    & > *:first-child {
      color: #888;
      margin-right: 8px;
    }
  }
  & > small {
    text-align: left;  
    font-size: 11px;
    font-weight: normal;
  }
}

.view_Department_AllUserTalbe___tooltip {
  &-private {
    @include view_Department_AllUserTalbe___tooltip;
    & > div {
      & > *:last-child {
        color: #ec1000;
      }
    }
  }
  &-public {
    @include view_Department_AllUserTalbe___tooltip;
    & > div {
      & > *:last-child {
        color: #48bb78;
      }
    }
  }
}