.view_Job_Tablist___label-list-item {
  &:hover {
    cursor: default;
    background-color: #fff;
  }
};

.view_Job_Tablist___label-primary {
  font-weight: 500;
  font-size: 17px;
  color: #62647b;
};

.view_Job_Tablist___task-primary {
  display: flex;
  align-items: center;
  & > * {
    &:not(:first-child) {
      margin-left: 8px;
    }
  }
  & > span {
    font-weight: 500;
    font-size: 15px;
    color: #848484;
  }
  & > small {
    font-size: 13px;
    font-weight: normal;
    color: #848484;
  }
};