@mixin view_ProjectGroup_Table_All___menu-item {
  display: flex;
  align-items: center;
  width: 180px;
  &:hover {
    cursor: pointer;
  }
  border: none;
  outline: none;
  & > * {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: auto;
      display: flex;
      align-items: center;
      img {
        margin-right: 5px;
      }
    }
  }
  &:nth-child(3),
  &:nth-child(5),
  &:nth-child(9),
  &:nth-child(11) {
    border-top: 1px solid #f4f4f4;
  }
}

.view_ProjectGroup_Table_All___menu-item {
  & {
    @include view_ProjectGroup_Table_All___menu-item;
    color: #222;
    & > .view_ProjectGroup_Table_All___icon {
      & * {
        fill: #d4d4d4 !important;
      }
    }
    &:hover {
      background: #eee;
    }
  }
  &-selected {
    @include view_ProjectGroup_Table_All___menu-item;
    color: var(--color-primary);
    background: #eee;
    & > .view_ProjectGroup_Table_All___icon {
      & * {
        fill: var(--color-primary) !important;
      }
    }
  }
}

.view_ProjectGroup_Table_All___progress {
  width: 150px;
}
.project_state_wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.view_ProjectGroup_Table_All {
  &_titleTop {
    display: flex;
    align-items: center;
    span,
    abbr {
      font-size: 21px;
      font-weight: 600;
      line-height: 26px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 350px;
      text-decoration: none;
    }
  }
}
.view_ProjectGroup_Table_All_title {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 23px;
  & > span {
    font-size: 21px;
    margin-left: 20px;
  }
  &_icon {
    margin-left: 5px;
    .MuiButton-label {
      font-size: 21px !important;
      line-height: 26px;
      font-weight: 600;
      text-transform: none;
      color: #212529;
      & > span {
        font-size: 21px !important;
      }
    }
  }
  &_bold {
    font-weight: 500 !important;
  }
}
#filter-menu,
.download-popover-project {
  .MuiPaper-root {
    top: 125px !important;
    left: unset !important;
    right: 60px !important;
  }
  .MuiPaper-root {
    top: 125px !important;
    left: unset !important;
    right: 60px !important;
  }
}
.time-range-popover {
  .MuiPaper-root {
    top: 125px !important;
    left: unset !important;
    right: 0% !important;
    transform: translate(-50%, 0%) !important;
  }
}

// menu when hover in task group item

#simple-menu .MuiMenu-list li .task-group__menu-item--delete {
  color: #f82b2b;
}

#simple-menu .MuiMenu-list li {
  padding: 10px 20px;
  & > span {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    color: #000000;
    svg {
      height: 20px;
      width: 20px;
      color: #7b7b7b;
    }
  }
}

#simple-menu .MuiMenu-list {
  padding: 15px 0 !important;
}

#simple-menu .MuiPaper-root {
  overflow: hidden;
}
