.DialogTitleModalImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #303335;
  align-items: center;
  padding: 0px 15px;
  &--user {
    width: 40%;
  }
  &--rotate {
    width: 20%;
    text-align: center;
  }
  &--GroupActionButton {
    display: flex;
    width: 40%;
    justify-content: flex-end;
  }
}

.ModalImage {
  &--video {
    video {
      &:focus {
        outline: none;
      }
    }
    &:focus {
      outline: none;
    }
  }
  &--scrollWrap {
    width: 85%;
    height: 100%;
    margin: auto;
  }
  &--imagesList {
    display: flex;
    // justify-content: center;
    background: #3e4041;
    padding: 3px;
    border-radius: 10px;
    // width: 1200px;
    z-index: 999;
    // overflow-x: scroll;
    // width: 134%;
    & > * {
      list-style-type: none;
      margin: 2px 3px;
    }
  }
  &--scrollWrap:hover &--scrollTrack {
    opacity: 1 !important;
  }
}
