.DialogTitleModalImage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #303335;
  align-items: center;
  padding: 0px 15px;
  &--user {
    width: 40%;
  }
  &--rotate {
    width: 20%;
    text-align: center;
  }
  &--GroupActionButton {
    display: flex;
    width: 40%;
    justify-content: flex-end;
  }
}
