.CreateGroupTaskModal {
  .MuiDialogContent-root:first-child {
    padding: 0px 24px 24px;
  }
  .MuiSvgIcon-root {
    color: #00b707;
  }
  .comp_CustomModal___scrollbar-main-medium {
    height: 200px !important;
  }
  &--title {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    line-height: 20px;
  }
  &--button {
    margin: 15px auto;
    background-color: #708eef;
    color: #ffffff;
    font-size: 15px;
    font-weight: 500;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
}
