.UpdateScheduleTask {
	&--content {
	    background-color: #fff;
	    border-radius: 50px;
	    padding: 8px 10px;
	    font-size: 13px;
	    display: flex;
	    width: -moz-fit-content;
	    width: fit-content;
	    margin: auto;
	    text-transform: none;
	    cursor: pointer;
	}
}
