@mixin view_ProjectGroup_Table_All___menu-item {
  display: flex;
  align-items: center;
  width: 180px;
  &:hover {
    cursor: pointer;
  }
  border: none;
  outline: none;
  & > * {
    &:not(:last-child) {
      margin-right: 10px;
    }
    &:last-child {
      margin-left: auto;
    }
  }
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(8) {
    border-top: 1px solid #f4f4f4;
  }
}

.view_ProjectGroup_Table_All___menu-item {
  & {
    @include view_ProjectGroup_Table_All___menu-item;
    color: #222;
    & > svg {
      fill: #d4d4d4;
    }
  };
  &-selected {
    @include view_ProjectGroup_Table_All___menu-item;
    color: #05b50c;
    background: #05b50c1c;
    & > svg {
      fill: #05b50c;
    }
  };
};
