@mixin view_ProjectGroup_Table_All___menu-item {
  display: flex;
  align-items: center;
  & > svg {
    margin-right: 10px;
  }
  &:nth-child(2),
  &:nth-child(4),
  &:nth-child(8) {
    border-top: 1px solid #f4f4f4;
  }
}

.view_ProjectGroup_Table_All___menu-item {
  & {
    @include view_ProjectGroup_Table_All___menu-item;
    color: #222;
    & > svg {
      fill: #888;
    }
  };
  &-selected {
    @include view_ProjectGroup_Table_All___menu-item;
    color: #05b50c;
    & > svg {
      fill: #05b50c;
    }
  };
};

.view_ProjectGroup_Table_All___list-subheader {
  text-transform: uppercase;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
};
