
.calendar--modal__body table {
    width: 100%
}

.calendar--modal__body td {
    padding: 16px 0px;
    border-bottom: 1px solid #b9b9b9;
  }
  
  .calendar--modal__body th {
    padding: 6px 0px;
    border-bottom:  2px solid #b9b9b9;
    color: black;
    font-weight: 500;
  }
  .calendar--modal__body th div{
    font-size: 15px;
}
  .calendar--modal__body th:first-child svg {
    fill: #48bb78;
  }
  .calendar--modal__body th:last-child svg {
    fill: #eb2a2a;
  }
.calendar--modal__header {
    margin-bottom: 10px;
}
.calendar--modal__header div:first-of-type {
      font-size: 16px;
      font-weight: 500;
  }
  .calendar--modal__header div:last-of-type {
    font-size: 14px;
    font-weight: 500;
    color: orange;
}
.calendar--modal__container{
  padding: 30px
}