@mixin view_KanbanColumn___container {
  width: 300px;
  background-color: #fff;
  height: 100%;
}

.view_KanbanColumn___container {
  & {
    @include view_KanbanColumn___container;
  }
  &-dragging {
    @include view_KanbanColumn___container;
    border: 1px solid blue;
  }
}

.view_KanbanColumn___list-scroll {
  height: calc(100% - 35px) !important;
}

@mixin view_KanbanColumn___item-list {
  padding-bottom: 30px;
  min-height: 100px;
}

.view_KanbanColumn___item-list {
  & {
    @include view_KanbanColumn___item-list;
  }
  &-dragging-over {
    @include view_KanbanColumn___item-list;
    background: lightblue;
  }
}

.view_KanbanColumn___group-name {
  font-weight: 500;
  padding: 10px;
  height: 35px;
  box-sizing: border-box;
  width: fit-content;
}