.UpdateStatus {
  &--content {
    path {
      fill: inherit !important;
    }
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    margin: 15px 0px;
  }
  &--label {
    min-width: 100px;
    line-height: 25px;
    background-color: #07c040;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    padding: 7px;
    text-transform: capitalize;
  }
  &--label-0 {
    background-color: #ff9800
  }
  &--label-1 {
    background-color: #68cced
  }
  &--label-4 {
    background-color: #607d8b29;
    color: #607d8b;
  }
  &--icon {
    margin: auto 20px;
    width: 40px;
    height: 40px;
    fill: #6f6f6f;
  }
}
