.wp-wrapper {
  display: flex;
  margin-right: 4px;
  align-items: center;
  &-button {
    height: 28px;
    min-height: 28px;
    min-width: 28px;
    width: 28px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #6f7782;
    transition: all 0.3s all ease-in-out;
    abbr {
      display: flex;
    }

    &:hover,
    &.active {
      background: #1507260a;
      fill: #151b26;
      cursor: pointer;
    }
  }
}
.view_ProjectGroup_List--LeftContainer .MuiListItem-root {
  height: 44px;
  .wp-wrapper-button {
    display: none;
  }
  &:hover {
    .wp-wrapper-button {
      display: flex;
    }
  }
}

.template-preview-body {
  position: absolute;
  bottom: 0;
  width: 100%;
  .gantt__container {
    height: 100% !important;
  }
  .offset-gantt-container {
    height: 100% !important;
  }
  .gantt-chart__container .scroll-gantt {
    height: 100% !important;
  }
  & > div {
    display: flex;
    align-items: stretch;
    & > div {
      display: flex;
      align-items: stretch;
      div[role="table"] {
        height: 100%;
      }
    }
  }
}
