.view_Department_List___banner {
  padding: 15px;
  background: #f1f2f4;
};

.view_Department_List___primary {
  font-weight: 500;
  .comp_CustomList___primary {
    font-size: 14px !important;
  }
};

.departmentList_container .comp_LeftSideContainer___header {
  padding: 0;
}

.departmentList_containerHasHeader .comp_LeftSideContainer___container {
  grid-template-rows: 150px calc(100vh);
}

.departmentList_containerHasHeader .comp_LeftSideContainer___header {
  padding: 0;
  display: inline-block;
}

.departmentList_containerHasHeader .comp_LeftSideContainer___icon-button {
  display: none;
}

.departmentList_containerHasHeader .comp_LeftSideContainer___title {
  margin: 0;
  text-transform: none;
}
.departmentList_containerHasHeader__summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
  margin: 10px 15px;
  a {
    cursor: pointer;
  }
  .MuiTypography-h6 {
    font-weight: 500;
    font-size: 14px;
  }
}