.introduction_workplus_platform {
    color: white;
    font-weight: bold;
    text-align: left;
    background: rgb(250, 151, 73);
    background: linear-gradient(319deg, rgba(250, 151, 73, 1) 45%, rgba(254, 168, 76, 1) 53%);
    padding: 24px;
    h3 {
        padding: 0;
        margin: 0;
        font-size: 22px;
    }
}

.introduction_workplus_platform__body {
    text-align: left;
    padding: 24px;

    p {
        letter-spacing: 0.5px;
        margin-bottom: 25px;
        font-size: 14px !important;
    }
    ul {
        color: #0169ed;
        margin-bottom: 20px;
        li::marker {
            font-size: 16px;
        }
    }
    a {
        font-size: 14px !important;
    }
}
