.view_DepartmentPage_UserPermissionModal___table-row {
  & > *:not(:first-child) {
    & > *:nth-child(1) {
      display: flex;
      flex-direction : column;
      margin: auto;   
      width: 16px;
      height: 16px;
    }
  }
};

.view_DepartmentPage_UserPermissionModal___table-cell {
  padding: 8px;
};

@mixin view_DepartmentPage_UserPermissionModal___permission-item {
  padding: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #000000;
  .MuiRadio-colorSecondary.Mui-checked {
    color: #ffffff;
  }
  .MuiIconButton-colorSecondary:hover {
    background-color: transparent;
  }
  & > * {
    width: 16px;
    height: 16px;
    display: block;
    margin: auto;
    transition: none;
  }
  &:hover {
    color: #fff;
    background: #2196f3;
    & > * {
      color: #fff;
    }
  }
}

.view_DepartmentPage_UserPermissionModal___permission-item {
  & {
    @include view_DepartmentPage_UserPermissionModal___permission-item;
  }
  &-checked {
    @include view_DepartmentPage_UserPermissionModal___permission-item;
    color: #fff;
    background-color: #2196f3;
  }
}

.view_DepartmentPage_UserPermissionModal___title {
  color: #111111;
  text-transform: unset;
  font-size: 18px;
  font-weight: 500;
  display: block;
  position: relative;
  line-height: 23px;
  margin: 15px 0 10px;
  width: 100%;
}

.view_DepartmentPage_UserPermissionModal___content {
  font-weight: normal;
  margin: 20px 0px;
  font-size: 14px;
  line-height: 1.5;
}

.view_DepartmentPage_UserPermissionModal___slider {
  background-color: #f1f1f1;
  padding: 0 32px;
}

.view_DepartmentPage_UserPermissionModal___icon {
  & {
    fill: #f0f0f0;
  }
  &-disabled {
    fill: #cccccc;
    cursor: auto;
  }
}

.view_DepartmentPage_UserPermissionModal___no-data-helper {
  font-size: 14px;
  color: #555;
  word-wrap: break-word;
  max-width: 90%;
}

.view_DepartmentPage_UserPermissionModal___deselect {
  display: flex;
  align-items: center;
  width: fit-content;
  padding: 2px 8px;
  border-radius: 4px;
  &:hover {
    cursor: pointer;
    background: #eee;
  }
  &:active {
    background: #ddd;
  }
  & > span:last-child {
    margin-left: 8px;
    color: red;
  }
  margin-bottom: 8px;
}