.comp_GroupPermissionSettings__List
  .comp_CustomList___list-item
  .MuiIconButton-root {
  /* display: none; */
}
.comp_GroupPermissionSettings__List
  .comp_CustomList___list-item:hover
  .MuiIconButton-root {
  /* display: unset; */
}
.comp_CustomList___list-item {
  padding: 10px 15px;
}
.comp_GroupPermissionSettings__List .comp_CustomList___list-item svg {
  color: rgb(141, 141, 141) !important;
}
.onHover .onHover__show {
  display: none;
}
.onHover .onHover__hide {
  display: block;
}
.onHover:hover .onHover__show {
  display: block;
}
.onHover:hover .onHover__hide {
  display: none;
}
