.QuickLike {
  display: flex;
  .ImageMessage--img {
    width: 130px;
    height: auto;
  }
  .CommonMessageAction {
    .CommonMessageAction--buttonEmo:hover .ReactEmotionPopup {
      left: -30px;
      right: unset;
    }
    &__self .CommonMessageAction--buttonEmo:hover .ReactEmotionPopup {
      left: -160px;
      right: unset;
    }
  }
  &:hover .CommonMessageAction {
    opacity: 1;
    margin-top: 10px;
  }
  &--likeIcon {
    width: 35px;
    height: auto;
  }
}
