.notice-modal-container {
  background-color: rgba(0, 0, 0, 0.35);
  .MuiDialogActions-root {
    flex-direction: column;
    padding: 0;
  }
  .header-icon-modal {
    position: relative;
    .close-icon {
      position: absolute;
      right: 15px;
      top: 7px;
    }
    .MuiIconButton-root {
      padding: 5px;
      background: rgba(0,0,0,0.1);
    }
  }
  .MuiPaper-rounded {
    border-radius: 10px;
  }
}
.modal-notice-locked{
  .MuiDialogActions-root {
    padding: 30px 20px;
  }
}
.notice-header-blue {
  background: #6d6bff;
}
.notice-header-green {
  background: #1cc658;
}
.notice-header {
  display: flex;
  width: 100%;
  height: 200px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  margin-bottom: 20px;
  .notice-logo {
    width: 150px;
  }
  .icon-upgrade {
    height: 150px;
    margin-top: 50px;
  }
  &-logo-wrapper {
    margin-top: 50px;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &-pro-label {
    padding: 5px 15px;
    background: #fff;
    border-radius: 2px;
    width: 30px;
    text-align: center;
    &>span {
      font-weight: 900;
      font-size: 15px;
      color: #6d6bff;
    }
  }
}
.notice-header-text {
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 30px;
}
.expire-text {
  color: #f37c00;
}
.notice-btn-container {
  margin: 15px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 55px;
  .MuiButton-contained {
    box-shadow: unset;
    &:hover {
      box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    }
  }
}
.content_notify-lock-user{
  text-align: center;
  img{
    width: 200px;
  }
  h5{
    margin-bottom: 10px;
    font-size: 17px;
  }
  div{
    font-size: 14px;
    margin-bottom: 40px;
  }
}
.notice-text {
  font-size: 17px;
  text-align: center;
  margin: 0;
  &.header-text {
    font-weight: 500;
    margin-bottom: 10px;
  }
  &.sub-header-text {
    line-height: 26px;
    font-size: 15px;
    b {
      font-size: 17px;
    }
  }
  &>a {
    text-decoration: none;
    font-weight: 500;
  }
}
.notice-btn-container .notice-btn {
  color: white;
  margin: 6px 16px;
  text-transform: uppercase;
  padding: 16px 48px;
  font-size: 19px;
  .MuiButton-label {
    font-size: 19px;
  }
}
.notice-btn-green {
  background: #05c350;
  &:hover {
    background: #05c350;
  }
}
.notice-btn-orange {
  background: #ff9800;
  &:hover {
    background: #ff9800;
  }
}
.notice-btn-text {
  margin: 6px 16px;
  color: #0076f3;
  text-transform: none;
}
.btn-select-group{
  background: #ff9800;
  color: #ffffff;
  height: 60px;
  margin: 0;
  width: 330px;
  margin-bottom: 20px;
  span{
    font-size: 16px;
  }
  
}
.notice-icon-container {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}
.notice-icon-container .notice-icon {
  color: #0076f3;
  margin: 0 16px;
  line-height: 28px;
  display: flex;
}
.notice-icon-container .notice-icon img {
  width: 28px;
}
.notice-text-info {
  font-size: 15px;
  color: #5a5a5a;
  opacity: 0.65;
  margin: 0;
  text-align: center;
}
.group-modal-container {
  .title-dialog {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .content-modal {
    padding: 0;
    .block-image-cover {
      height: 260px;
      width: 600px;
      position: relative;
      .img-cover {
        width: 100%;
        height: 200px;
      }
      .block-image-logo {
        position: absolute;
        display: flex;
        bottom: 0;
        left: 240px;
        height: 120px;
        width: 120px;
        background-color: #fff;
        border-radius: 100%;
        overflow: hidden;
        border: 1px solid #ededed;
        .img-logo {
          width: 100%;
          height: 100%;
        }
      }
    }
    .block-info {
      padding: 30px 24px 60px;
      text-align: center;
      .block-name {
        font-size: 21px;
        font-weight: bold;
      }
      .block-email {
        font-size: 17px;
        color: #8e8e8e;
        line-height: 35px;
      }
    }
  }
  .footer-modal {
    justify-content: center;
    .MuiButtonBase-root {
      &:hover {
        background-color: transparent;
      }
    }
    .MuiButton-label {
      color: #007bff;
      text-transform: none;
      padding: 6px 0;
    }
  }
}

.notice-body {
  padding: 0px 30px;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-end {
  align-items: flex-end;
}
.mr-50 {
  margin-right: 50px;
}
.text-bold {
  font-weight: 500;
  font-size: 16px;
}