.DeleteSubTask {
  background-color: #ffffff;
  border-radius: 100px;
  padding: 12px;
  max-width: 500px;
  width: 66%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  &--title {
    font-size: 14px;
    color: #111111;
  }
  &--content {
    font-size: 14px;
    color: #989797;
  }
}
