.view_Project_ProjectMemberSlide___banner {
  padding: 15px;
};

.view_Project_ProjectMemberSlide___primary {
  font-weight: 500;
};

.view_Project_ProjectMemberSlide___container {
  height: 100%;
  display: grid;
  grid-template-rows: 140px 1fr;
  grid-template-columns: auto;
  & > * {
    &:nth-child(2) {
      flex-grow: 1;
    }
    &:nth-child(3) {
      border-top: 1px solid rgba(0, 0, 0, 0.1);
      width: 100%;
      padding: 15px;
      justify-content: flex-start;
      & > span:first-child > * {
        text-transform: none;
        &:not(:first-child) {
          margin-left: 15px;
        }
      }
      & > span:last-child {
        display: none;
      }
    }
  }
}

.view_Project_ProjectMemberSlide___wrapper {
  height: 100%;
}
.view_Project_ProjectMemberSlide___buttonAddMembers {
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
  height: 45px;
}