.view_ProjectGroup_CreateNew_Project_Modal___form-control {
  min-width: 300px;
  max-width: 100%;
  margin: 0px 0 10px;
  & > * {
    margin-bottom: 10px;
  }
};

.view_ProjectGroup_CreateNew_Project_Modal___subtitle {
  color: #9a9a9a;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  display: block;
  position: relative;
  line-height: 15px;
  width: 100%;
}
.view_ProjectGroup_CreateNew_Project_Modal_formItem {
  margin-top: 0px !important;
}
.view_ProjectGroup_CreateNew_selectCategory {
  display: flex;
  align-items: center;
  &>*:not(:last-child) {
    margin-right: 20px;
  }
  &_item {
    padding: 8px 10px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    width: 150px;
    background: #f4f4f4;
    cursor: pointer;
    &:hover {
      background: var(--color-primary);
      color: #fff;
    }
    img {
      margin-right: 10px;
    }
  }
  .active {
    background: var(--color-primary);
    color: #fff;
  }
}