.ChatBoxInput {
  height: 100%;
  position: relative;
  &:focus {
    outline: none;
  }
  &__empty:before {
    content: attr(placeholder);
    cursor: text;
    background: none;
    color: #83878d;
    display: block;
    position: absolute;
    left: 4px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    pointer-events: none;
  }
}
