.comp_CustomTable_TableBodyRow___row {
  background-color: #ffffff;
  position: relative;
  .comp_CustomTable_list-action{
    display: flex;
    z-index: 100;
    right: 15px;
    height: 20px;
    margin-left: -5px;
    background-color: #ffffff;
    div{
      margin-left: 3px;
      padding: 2px;
      cursor: pointer;
      svg{
        width: 15px;
        height: 15px;
      }
    }
  }
  & > .MuiTableCell-root {
    font-size: 13px;
  };
};

@mixin comp_CustomTable_TableBodyRow___cell {
  font-size: 13px;
  word-break: break-word;
}

.comp_CustomTable_TableBodyRow___cell {
  &-draggable {
    @include comp_CustomTable_TableBodyRow___cell;
    &:nth-child(1) {
      padding: 5px 3px 5px 13px;
    }
    &:nth-child(2) {
      padding: 5px 10px 5px 3px;
    }
    &:nth-child(n+3) {
      padding: 5px 10px;
    }
    
  }
  & {
    @include comp_CustomTable_TableBodyRow___cell;
    &:nth-child(1) {
      padding: 5px 3px 5px 20px;
    }
    &:nth-child(n+2) {
      padding: 5px 10px;
    }
  }
};
.comp__table-cell-hover{
     .comp_AvatarCircleList___container {display: none;}
     .list-backup{
       display: block;
     }
}
.comp_CustomTable_TableBodyRow___drag-box {
    padding-left: 7px;
}
.icon-drag-hide{
  opacity: .8;
}
.icon-drag-hover{
  opacity: 1;
}
.action-add{
  background-color: #0f8ec0;
  border-radius: 50%;
}
.action-delete{
  background-color: rgb(240, 70, 70);
  border-radius: 50%;
}
.action-more{
  background-color: #96969c;
  border-radius: 50%;
}