.comp_CustomTable_TableBodyRow___row {
  background-color: #ffffff;
  & > .MuiTableCell-root {
    font-size: 13px;
  };
};

@mixin comp_CustomTable_TableBodyRow___cell {
  font-size: 13px;
  word-break: break-word;
}

.comp_CustomTable_TableBodyRow___cell {
  &-draggable {
    @include comp_CustomTable_TableBodyRow___cell;
    &:nth-child(1) {
      padding: 10px 3px 10px 13px;
    }
    &:nth-child(2) {
      padding: 10px 10px 10px 3px;
    }
    &:nth-child(n+3) {
      padding: 10px;
    }
  }
  & {
    @include comp_CustomTable_TableBodyRow___cell;
    &:nth-child(1) {
      padding: 10px 3px 10px 20px;
    }
    &:nth-child(n+2) {
      padding: 10px;
    }
  }
};

.comp_CustomTable_TableBodyRow___drag-box {
  display: flex;
  align-items: center;
  justify-content: center;
}