.comp_CustomList___list {
  padding: 0;
}

.comp_CustomList___list-item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #fff;
  & > *:not(:first-child) {
    margin-left: 5px;
  }

  &:hover {
    cursor: pointer;
    background-color: #f2f5fa;
  }
  &:focus {
    background-color: #e6f0ff;
  }
  &.active {
    cursor: pointer;
    background-color: #f2f5fa;
  }
}

.comp_CustomList___primary {
  color: #000;
  font-size: 17px;
}

.comp_CustomList___secondary {
  color: #05b50c;
  font-size: 14px;
}
