.header-document {
  .setting-right-content {
    position: relative;
    .drag-over-overlay {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: transparent;
      &:focus {
        outline: none;
      }
      .drop-area {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 10;
        background: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        .dashed-box {
          position: absolute;
          top: 50px;
          bottom: 50px;
          left: 70px;
          right: 70px;
          z-index: 10;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          border: dashed #c3c3c3 3px;
          border-radius: 18px;
          flex-direction: column;
        }
        .des-drop {
          font-size: 16px;
          text-transform: uppercase;
          color: #c3c3c3;
        }
      }
    }
    .loading-table {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 100;
      .mark-back {
        position: absolute;
        background: #fff;
        height: 100%;
        width: 100%;
        z-index: 999;
        opacity: 0.5;
      }
      .progress-turn {
        position: absolute;
        z-index: 1000;
        left: calc(50% - 27px);
        top: 75px;
      }
    }
  }
  .border-item {
    border-bottom: 1px solid #ddd;
  }
  .header-left-content {
    .title {
      font-size: 21px;
      line-height: 26px;
      font-weight: 600;
      text-transform: unset;
      color: #212529;
    }
    .header-wrapper {
      display: flex;
      .header-icon {
        width: 20px;
        height: 20px;
        margin-right: 15px;
      }
    }
    .title-wrapper {
      .sub-title {
        color: #dc3545;
        line-height: 1.5;
        font-weight: 500;
      }
      .bread-crumb {
        color: #212529;
        .MuiBreadcrumbs-li {
          .bread-crumb-item {
            &:hover {
              cursor: pointer;
              text-decoration: underline;
            }
          }
          &:last-child {
            color: #ccc;
            .bread-crumb-item {
              &:hover {
                cursor: default;
                text-decoration: none;
              }
            }
          }
        }
      }
    }
  }

  .table-body-row {
    &:hover {
      background-color: #f2f5fa !important;
    }
  }
  .two-line {
    // display: -webkit-box;
    // -webkit-line-clamp: 2;
    height: 42px;
    line-height: 42px;
    -webkit-box-orient: vertical;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 250px;
  }
  .first-column {
    padding-left: 20px !important;
    .avatar-wrapper {
      justify-content: left;
    }
  }
}
// .modal-common-container {
//   .MuiDialog-paperWidthLg {
//     max-width: 1000px;
//   }
// }
.dialog-content {
  min-height: 100px;
  // display: flex;
  padding: 20px 24px;
  justify-content: center;
  border-top: none;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  .create-order-title .MuiFormLabel-root {
    font-size: 16px;
  }
  &.share-doc {
    display: flex;
    padding: 0;
    align-items: unset;
    overflow: hidden;
    .left-share-doc {
      width: 35%;
      padding: 16px 0;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      .title-left-share {
        padding: 0 16px;
        height: 35px;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .text-title-left-share {
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      .header-share-doc {
        margin: 10px 16px 16px;
        height: 35px;
        align-items: center;
        display: flex;
      }
      .list-member {
        height: 400px;
      }
      .item-member {
        justify-content: space-between;
        padding: 10px 20px;
        .left-item {
          display: flex;
        }
        .info-left-item {
          padding-left: 10px;
          .name-member {
            padding-bottom: 5px;
            color: #222;
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
          }
          .email-member {
            color: #797979;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
          }
        }
        .right-item {
          .share-btn {
            height: 25px;
            text-transform: unset;
            padding: 2px 8px;
            border: 1px solid rgb(220, 220, 220);
            font-weight: normal;
            color: #444;
            line-height: 20px;
          }
          .share-btn-disable {
            height: 25px;
            text-transform: unset;
            padding: 2px 8px;
            font-weight: normal;
            line-height: 20px;
            cursor: not-allowed;
            opacity: 0.65;
          }
        }
      }
    }
    .right-share-doc {
      padding: 16px 0;
      width: 65%;
      .title-left-share {
        padding: 0 16px;
        height: 35px;
        display: flex;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        .text-title-left-share {
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      .header-share-doc {
        padding: 0 16px;
        height: 35px;
        align-items: center;
        display: flex;
        // border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        background-color: #f8f8f8;
        .left-content {
          width: 50%;
          // text-align: center;
          .text-title {
            font-weight: 600;
            font-size: 13px;
            color: #444;
            &.member-text {
              text-align: left;
              padding-left: 45px;
            }
          }
        }
        .right-content {
          width: 50%;
          display: flex;
          margin-left: 0;
          font-weight: 600;
          font-size: 13px;
          color: #444;
          justify-content: space-between;
          .text-title {
            padding-left: 10px;
          }
          .title-shared-by-member {
            padding-left: 35px;
          }
        }
        .text-title-share-by {
          width: 50%;
          display: flex;
          justify-content: center;
          .text-title {
            padding: 0;
          }
        }
      }
      .list-member {
        height: 400px;
      }
      .item-member {
        justify-content: space-between;
        padding: 10px 20px;
        .left-content {
          width: 50%;
          display: flex;
          .left-item {
            display: flex;
          }
        }
        .info-left-item {
          padding-left: 10px;
          .name-member {
            padding-bottom: 5px;
            color: #222;
            font-size: 15px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
          }
          .email-member {
            color: #797979;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 180px;
            &.status-member {
              font-size: 15px;
            }
          }
        }
        .right-content {
          width: 50%;
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-left: 0;
          .right-item {
            .share-btn {
              height: 25px;
              text-transform: unset;
              padding: 2px 8px;
              border: 1px solid rgb(220, 220, 220);
              font-weight: normal;
              color: #444;
              line-height: 20px;
            }
            .share-btn-disable {
              height: 25px;
              text-transform: unset;
              padding: 2px 8px;
              font-weight: normal;
              line-height: 20px;
              cursor: not-allowed;
              opacity: 0.65;
            }
            .share-by-avatar {
              width: 25px;
              height: 25px;
              margin: auto;
            }
          }
        }
      }
    }
  }
  &.redirect-modal {
    display: flex;
    flex-direction: column;
    .redirect-text {
      font-size: 16px;
      text-align: center;
      padding: 0 40px;
      line-height: 24px;
      margin-bottom: 24px;
      b {
        font-size: 16px;
      }
    }
    .redirect-btn {
      color: #01b374;
      border-color: #01b374;
      margin: 0 16px;
      text-transform: uppercase;
      padding: 10px 20px;
      font-size: 19px;
      margin-bottom: 40px;
      .MuiButton-label {
        font-size: 19px;
      }
      &:hover {
        color: white;
        background: #01b374;
      }
    }
  }
}
.move-content {
  padding: 0;
  min-height: 400px;
  .my-document {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding: 16px;
    .right-my-document {
      color: #fd7e14;
    }
    .left-my-document {
      font-weight: bold;
      display: flex;
      align-items: center;
      .name-document {
        padding-left: 10px;
      }
      .back-to-parent {
        cursor: pointer;
      }
    }
  }
}

// table common style
.table-header-row {
  background-color: rgb(244, 244, 244);
  height: 42px;
  color: #666;
  font-size: 13px;
  padding: 0 8px;
  .MuiTableCell-root {
    font-size: 13px;
    padding: 0 8px;
  }
}
.table-head-cell {
  padding: 8px;
  font-weight: 500;
  color: #666666;
  font-size: 16px;
  div {
    width: 100%;
    height: 100%;
    font-weight: 500;
    color: #666;
    font-size: 13px;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    svg {
      margin-left: 4px;
    }
  }
}
.table-body-row {
  background-color: #fff;
  &.selected {
    background-color: #f2f5fa;
    &:hover {
      background-color: #f2f5fa;
    }
  }
  &.move-row {
    &:hover {
      background-color: #f2f5fa;
    }
  }
  &.selected-row {
    background: #01b374;
    .table-body-cell p {
      color: white;
    }
    &:hover {
      background: #01b374;
      .table-body-cell p {
        color: white;
      }
    }
  }
}
.table-body-cell {
  padding: 10px;
  border-bottom: 1px solid rgb(240, 240, 240);
  p {
    color: rgba(0, 0, 0, 0.87);
    font-size: 14px;
    font-weight: 400;
  }
  &.more-action {
    .MuiIconButton-root {
      right: 15px;
    }
  }
}
.right-header {
  margin-left: auto;
  display: flex;
  & > *:last-child {
    padding: 8px 12px;
    margin: 4px 0 4px 16px;
  }
  .none-create-order {
    display: none;
  }
}
.avatar-wrapper {
  display: flex;
  justify-content: center;
  .avatar-image {
    border-radius: unset;
    width: 30px;
    height: auto;
  }
}

.custom-avatar-image {
  width: 25px;
  margin: 0 3px;
  height: 25px;
  display: inline-block;
  &.ic-small {
    width: 20px;
    height: 20px;
  }
}
.modal-cus {
  background-color: rgb(245, 248, 252);
  padding: 20px 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  h2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
.common-btn-modal {
  padding: 8px 16px;
  font-weight: 500;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
  background-color: white;
  color: #222;
  .MuiButton-label {
    font-weight: 500;
    font-size: 16px;
  }
  &:hover {
    background-color: white;
  }
}
.list-avatar-column {
  margin: 0 auto;
  max-width: 80px;
  display: flex;
  justify-content: center;
  .more-avatar {
    width: 20px;
    height: 20px;
    font-size: 13px;
    margin: 0 3px;
  }
}
.opacity-0 {
  opacity: 0;
}