.view_ProjectGroup_EditProjectModal___form-control {
  min-width: 300px;
  max-width: 100%;
  & > * {
    margin-bottom: 10px;
    font-size: 12px;
  }
};

.view_ProjectGroup_EditProjectModal___text-field {
  & > label {
    z-index: 0;
  }
};

.view_ProjectGroup_EditProjectModal___form-label {
  font-size: 14px;
  & {
    color: #a5a0a0 !important;
  }
};