@mixin view_Department_Logo_Modal___logo-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
  & > * {
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
};

.view_Department_Logo_Modal___logo-list {
  & {
    @include view_Department_Logo_Modal___logo-list;
    & > * {
      width: 60px;
      height: 60px;
    }
  }
  &-tall {
    @include view_Department_Logo_Modal___logo-list;
    & > * {
      width: 60px;
      height: 80px;
    }
  }
}

@mixin view_Department_Logo_Modal___logo-box {
  & > button {
    text-transform: none;
    &:first-child {
      padding: 5px;
      border-radius: 100%;
    }
    &:last-child > span {
      font-size: 11px;
    }
  }
}

.view_Department_Logo_Modal___logo-box {
  & {
    @include view_Department_Logo_Modal___logo-box;
    & > button:first-child {
      border: 1px solid rgba(0, 0, 0, 0);
    }
  }
  &-selected {
    @include view_Department_Logo_Modal___logo-box;
    & > button:first-child {
      border: 1px solid #05b50c;
    }
  }
};

.view_Department_Logo_Modal___typo {
  margin: 0 10px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500 !important;
  color: #333333;
  margin-bottom: 15px;
}