.UpdateComplete {
  &--circle {
    width: 35px;
    height: 35px;
    background-color: #07c040;
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
  }
  &--icon {
    fill: #6f6f6f;
  }
}
