.view_Department_AddUser___box {
  padding: 5px 0;
  & > *:first-child {
    padding: 15px;
  }
  &:first-child > div {
    padding: 0 15px;
  }
  & li {
    padding: 5px 15px;
  }
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
};

.view_Department_AddUser___style-secondary {
  & > span {
    margin-top: 8px;
    display: flex;
    & > :not(:first-child) {
      margin-left: 8px;
    }
  }
};

.view_Department_AddUser___search-input {
  width: 70%;
};

.view_Department_AddUser___ok-btn {
  background-color: #2dc63a;
  border: 1px solid #2dc63a;
  color:#fff;
  padding: 0 3px;
  box-shadow: none;
  border-radius: 0;
  text-transform: initial;
  height: 24px;
  min-width: 55px;
  border-radius: 2px;
};

.view_Department_AddUser___cancle-btn {
  padding: 0 3px;
  font-weight: normal;
  text-transform: none;
  border: 1px solid;
  border-radius: 2px;
  color: #c1c1c1;
  height: 24px;
  min-width: 55px;
  &:hover {
    background: rgba(0, 0, 0, 0.1);
  }
};

.view_Department_AddUser___container {
  height: 100%;
  display: grid;
  grid-template-rows: 70px calc(100vh - 70px - 50px);
  grid-template-columns: 1fr;
  grid-template-areas: 
    "header"
    "body";  
};

.view_Department_AddUser___header {
  grid-area: header;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0px;
  background-color: #fff;
  z-index: 999;
};

.view_Department_AddUser___title {
  padding: 0;
  margin: 0 5px;
  color: #222222;
  font-size: 15px;
  text-transform: uppercase;
};

.view_Department_AddUser___body {
  grid-area: body;
  height: 100%;
  overflow: hidden;
  & * {
    &::-webkit-scrollbar-track {
      background-color: unset !important;
    }
    &::-webkit-scrollbar {
      width: 5px;
      background-color: unset !important;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 5px;
      cursor: pointer !important;
      min-height: 50px !important;
      &:hover {
        background-color: #4a4a4a54;
      }
    }
    &:hover::-webkit-scrollbar-thumb {
      background-color: #88888854;
    }
  }
  & > div:first-child {
    margin-right: -5px !important;
    scrollbar-width: none;
  }
};

.view_Department_AddUser___icon-button {
  width: 25px;
  height: 25px;
  & > span:last-child {
    display: none;
  }
};

.view_Department_AddUser___icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
};