.view_Department_AddUser___container {
  padding: 5px 0;
  & > *:first-child {
    padding: 15px;
  }
  &:first-child > div {
    padding: 0 15px;
  }
  & li {
    padding: 5px 15px;
  }
  display: flex;
  flex-direction: column;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, .1);
  }
};

.view_Department_AddUser___style-secondary {
  & > span {
    margin-top: 8px;
    display: flex;
    & > :not(:first-child) {
      margin-left: 8px;
    }
  }
};

.view_Department_AddUser___search-input {
  width: 70%;
};