.AddNewMember {
  &--content {
    background-color: #fff;
    border-radius: 50px;
    padding: 5px;
    font-size: 14px;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    text-transform: none;
    cursor: pointer;
    .member-name {
      margin: auto;
      margin-left: 10px
    }
  }
  &--avatar {
    width: 20px;
    height: 20px;
  }
}
