.EditPriority {
  &--priority {
    background: rgb(210,235,211);
    color: #4caf50;
    border-radius: 50px;
    padding: 8px 10px;
    font-size: 13px;
    display: flex;
    width: -moz-fit-content;
    width: fit-content;
    margin: auto;
    text-transform: none;
    cursor: pointer;
    &__0 {
      background: rgb(254,193,193);
      color: #fe0707;
    }
    &__1 {
      background: rgb(255,229,191);
      color: #ff9800;
    }
  }
}
