.comp_CustomModal___two-columns-container-w-md {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 2fr 2fr;
}

.view_Calendar_CreateWeekly_Modal_container {
  padding: 20px;
}

@mixin view_Calendar_CreateWeekly_Modal_sub-header {
  color: #2d3436;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  padding: 12px 24px;
  margin: 0;
  text-align: center;
  background-color: #F5F6F7;
  margin: 10px 20px;
}

.view_Calendar_CreateWeekly_Modal_left-header {
  @include view_Calendar_CreateWeekly_Modal_sub-header;
}

.view_Calendar_CreateWeekly_Modal_right-header {
  @include view_Calendar_CreateWeekly_Modal_sub-header;
}

.view_Calendar_CreateWeekly_Modal__date-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.time_picker {
  width: 100px;
}

.date_picker {
  width: 200px;
}