.footerChat--tag {
  color: #6397db;
  line-height: 16px;
  margin-right: 5px;
}

.chatBox {
  cursor: text;
  padding: 4px;
  border-radius: 2px;
  margin-bottom: 2em;
  min-height: 140px;
  .DraftEditor-root {
    height: 100%;
  }
  .public-DraftEditorPlaceholder-inner {
    line-height: 54px;
    font-size: 14px;
  }
  .public-DraftEditorPlaceholder-hasFocus {
    display: none;
  }
  &--preview {
    display: flex;
  }
  &--imagePreviewWrap {
    position: relative;
    margin: 0 2px;
  }
  &--imagePreview {
    width: 30px;
    height: 30px;
  }
  &--imagePreviewDelete {
    position: absolute;
    right: -10px;
    top: -10px;
    svg {
      padding: 2px;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      fill: #ffffff;
    }
  }
}
