.view_WeeklyCalendar_rightContainer {
  padding: 10px 20px;
  min-height: 100%;

  &_TableLayout {
    grid-area: right;
    display: block !important;
    grid-template-rows: 70px calc(100vh - 70px - 50px);
    grid-template-columns: 1fr;
    grid-template-areas:
      'header'
      'body';
  }

  &__header {
    color: #656565;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    padding: 20px 24px;
    margin: 0;
    text-align: center;
    background-color: #F5F6F7;
    height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;

    &>span {
      margin-top: 5px;
      font-size: 14px;
    }
  }

  &__columnDataHeader {
    margin: 5px 0px;
    background: #e6f0ff;
    padding: 10px 10px;
    display: inline-flex;
    align-items: center;
    width: 98%;

    &>*>span {
      font-weight: 500;
      font-size: 15px;
    }

    &_title {
      width: 425px;

      &>span {
        margin-left: 175px;
      }
    }

    &_content {
      width: 352px;
    }

    &_receiver {
      width: 115px;
    }

    &_createdBy {
      width: 145px;
    }
  }

  &__itemContainer {
    margin: 10px 0px;
    min-width: 100%;

    .MuiListItem-container {
      &:hover {
        background: #F2F5FA;
      }
    }

    .MuiList-padding {
      padding-right: 20px;
    }

    &>div:nth-child(1) {
      display: inline-flex;
      align-items: center;
      padding: 5px 0px;
      width: 98%;
      border-bottom: 2px solid #F6F6F6;
      font-weight: 500;

      .header_time {
        width: 165px;

        &>span:nth-child(1) {
          font-weight: 500;
          margin-right: 10px;
          font-size: 15px;
        }

        &>span:nth-child(2) {
          font-weight: normal;
          font-size: 15px;
          color: #FF5227;
        }
      }
    }

    .MuiListItemSecondaryAction-root {
      min-width: 250px;
      justify-content: space-between;
      cursor: inherit;
    }

    .MuiListItem-button {
      cursor: inherit;
    }

    .MuiListItem-button:hover {
      background-color: #F2F5FA !important;
      border-radius: 2px;
    }

    .schedule_item_time {
      max-width: 115px;

      &>span>span {
        font-size: 14px !important;
        color: #FF5227;
      }
    }

    .schedule_item_title {
      max-width: 250px;

      &>span>span {
        font-size: 14px !important;
        word-break: break-all;
      }
    }

    .schedule_item_content {
      max-width: 300px;

      &>span>span {
        font-size: 14px !important;
        font-weight: normal;
        word-break: break-all;
      }
    }

    .assign_to_all {
      background-color: #8bc34a42;
      padding: 5px 10px;
      font-weight: 500;
      border-radius: 3px;
      font-size: 13px !important;
      color: #539a00;
    }

    .schedule_item_created_by {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;

      &>span {
        margin-left: 5px;
      }
    }
  }

  .MuiTypography-colorPrimary {
    color: #009CF3 !important;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width: 120px;
  }

  &_No_Data_Container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 600px;

    .title {
      font-size: 19px;
      text-align: center;
      margin-top: 40px;
      font-weight: 500;
    }

    .description {
      font-size: 14px;
      color: #555555;
      margin-top: 5px;
    }
  }
}

.comp_CustomTable___header {
  padding: 10px 20px 10px 20px;
}