.HandleOffer {
  border-radius: 20px;
  width: fit-content;
  font-size: 18px;
  padding: 8px 50px;
  margin: 10px auto 20px;
  &__status0 {
    background-color: #87d685;
    color: #03b000;
  }
  &__status1 {
    background-color: #fd8484;
    color: #aa0210;
  }
  &--icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-color: #03b000;
    svg {
      width: 35px;
      height: 35px;
      fill: #03b000;
    }
  }
  &--subContent {
    font-size: 15px;
    color: #a9a9a9;
  }
}
