.comp_AvatarCircleList___container {
  display: flex;
  align-items: center;
  & > * {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    margin-left: -4px;
    border-radius: 100%;
    background-color: #fff;
    &:not(:last-child) {
      box-shadow: -2px 0px #f8f9fa;
    }
    &:first-child {
      box-shadow: none;
    }
    &:nth-child(4) {
      background-color: #31b586;
      color: #fff;
    }
  }
};
.list-backup{
  display: none;
}