.demandTabItem {
  display: flex;
  position: relative;
  margin: 0 0 0 -16px;
  padding: 10px 16px;
  cursor: pointer;
  // align-items: center;
  &:hover {
    background-color: #f2f5fa;
  }
  &--title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 10px;
    line-height: 18px;
    width: 90%;
    color: #5a5a5a;
  }
  &--creator {
    display: flex;
    margin-bottom: 5px;
    line-height: 15px;
  }
  &--time {
    display: flex;
    margin-bottom: 5px;
    line-height: 17px;
    svg {
      width: 15px !important;
      height: 15px !important;
      margin-right: 4px;
      path {
        fill: #6c6c6c !important;
      }
    }
  }
  &--icon {
    padding: 12px 6px;
    // background-color: #ccc;
    width: 3rem;
    height: 3rem;
    margin-right: 10px;
    border-radius: 2px;
    &__orange {
      background-color: #ffebaf;
      path {
        fill: #ff9800 !important;
      }
    }
    &__blue {
      background-color: #bff8ff;
      path {
        fill: #00bcd4 !important;
      }
    }
  }
  &--avatar {
    width: 13px;
    height: 13px;
    margin-right: 4px;
  }
  &--button {
    &:hover {
      background: none;
    }
    & > span > svg {
      &:hover {
        fill: #03b000;
      }
    }
  }
  &--items {
    float: left;
    width: 80%;
    display: block;
    position: relative;
    margin: 0;
    cursor: pointer;
  }
  &--menu {
    display: none;
  }
  &:hover &--menu {
    display: block;
  }
}

.demandDetail {
  &--title {
    display: flex;
  }
  &--closeButton {
    position: absolute;
    right: 4px;
    top: 4px;
    color: grey;
  }
  &--user {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  &--avatar {
    margin: 12px auto 20px;
  }
  &--iconContainer {
    text-align: center;
    display: flex;
    justify-content: center;
  }
  &--icon {
    padding: 12px 4px;
    &__orange {
      path {
        fill: #ff9800 !important;
      }
    }
    &__blue {
      path {
        fill: #bff8ff !important;
      }
    }
  }
  &--label {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
  }
  &--content {
    text-align: center;
    min-width: 500px;
    min-height: 300px;
    margin-top: 10px;
  }
  &--line {
    width: 100px;
    border-bottom: 1px solid #c3c3c3;
    margin: auto 0;
  }
}
