.MemberModal {
  .MuiDialogContent-root {
    padding: 0;
    height: 100%;
  }
  &--file {
    display: flex;
    position: relative;
    margin: 2px;
    cursor: pointer;
  }
  &--fileImg {
    padding: 0 10px;
    width: 40px;
    height: 45px;
  }
  &--fileName {
    color: #aeaeae;
    line-height: 20px;
  }
  &--fileType {
    color: #c0c0c0;
  }
  &--fileDownloadButton {
    position: absolute;
    right: 0px;
    top: 10px;
    cursor: pointer;
  }
  &--content {
    display: flex;
    // height: 100%;
  }
}
