.view_ProjectGroup_Create_ProjectGroup___logo-box {
}

.view_ProjectGroup_Create_ProjectGroup___button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  & > span > span {
    &:first-child {
      color: white;
      width: 15px;
      height: 15px;
      line-height: 15px;
      text-align: center;
      vertical-align: center;
      background-color: blue;
      border-radius: 99px;
    }
    &:not(:first-child) {
      color: #333333;
      margin-left: 10px;
      font-weight: normal;
    }
  }
}

.view_ProjectGroup_Create_ProjectGroup_applyWorkType {
  margin: 15px 0 40px 0;
  &_title {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 10px;
    & > abbr {
      color: red;
      text-decoration: none;
      margin-left: 5px;
    }
  }
  & > abbr {
    text-decoration: none;
  }
}

.createProjectGroup {
  &__collapsed {
    &--container {
      border: none;
      box-shadow: none;
      &::before {
        background-color: transparent;
      }
      margin: 0 0 15px 0 !important;
      > * {
        padding-left: 0;
        padding-right: 0;
      }
      .MuiAccordionSummary-root.Mui-expanded {
        min-height: 48px !important;
      }
      .MuiAccordionSummary-content {
        align-items: center;
        &.Mui-expanded {
          margin: unset;
        }
      }
      .MuiAccordionDetails-root {
        flex-grow: 1;
        padding-left: 0;
        padding-right: 0;
      }
    }
    &--text-box {
      width: 100%;
    }
    &--title {
      font-size: 16px;
      color: #acadad;
    }
  }

  &__theme {
    &--list {
      display: flex;
      align-items: center;
      gap: 10px;
      margin-top: 17px;
    }
    &--title {
      font-size: 14px;
      font-weight: 500;
    }
    &--item {
      width: 50px;
      height: 41px;
      border-radius: 5px;
      background-color: aquamarine;
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      transition-duration: 0.5s;
      &:last-child {
        color: #42526e;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  &__logo-box {
    &--list {
      display: flex;
      gap: 8px;
      margin-top: 22px;
    }

    &--avatar {
      width: 40px;
      height: 40px;
    }
  }
}
