.projectItem {
  margin: 4px 0;
  font-weight: 500;
  // border-bottom: 1px solid #0000001a;
  padding: 15px 15px 15px 43px;
  cursor: pointer;
  line-height: 1.5;
  & > *:first-child {
    border-top: 1px solid #0000001a;
  }
  &:hover {
    background-color: #f2f5fa;
  }
  &__selected {
    background-color: #f2f5fa;
  }
}
