.projectItem {
  margin: 0;
  padding: 15px 15px 15px 43px;
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  & > * {
    &:last-child {
      border-top: none !important;
      display: block;
      font-weight: 500;
      font-size: 14px;
      max-width: 87%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 16px;
      line-height: 16px;
      margin-left: 5px;
      color: #535b6a;
    }
  }
  &:hover {
    background-color: #f2f5fa;
  }
  &__selected {
    background-color: #f2f5fa;
    font-weight: bold;
    color: #545454;
  }
  &--workingType {
    position: unset;
    margin-right: 3px;
  }
}