.memberTabBody {
  grid-area: body;
  height: 100%;
  &--search {
    margin: auto 15px;
  }
  &--joinedUsers {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E5E5E9;
    padding: 10px 5px;
    align-items: center;
    &_label {
      margin-left: 10px;
    }
    &_link {
      margin-left: 15px;
      font-weight: 500;
    }
  }
  &--memberList {
    &_header {
      font-weight: 500;
      padding: 10px 15px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &:hover {
        background: #F2F5FA;
      }
    }
  }
}

.memberItem {
  position: relative;
  padding: 10px 25px 10px 16px;
  cursor: pointer;
  width: calc(100% + 0px);
  &:hover {
    background-color: #f2f5fa;
  }
  &--left {
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 10px;
    background: red;
    margin-left: 10px;
  }
  &--textWrap {
    width: 100%;
    float: left;
    display: block;
    position: relative;
  }
  &--avatar {
    width: 45px;
    height: 45px;
    margin-right: 10px;
  }
  &--name {
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 5px;
    color: #585858;
    display: flex;
    align-items: center;
  }
  &--admin {
    color: #ffffff;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 10px;
    background: #0ab711;
    margin-left: 10px;
  }
  &--department {
    color: #666666;
  }
  &--role {
    color: orange;
    line-height: 17px;
  }
  &--menuButton {
    position: absolute;
    top: 5px;
    right: 0;
    display: none;
    margin-top: 15px;
    margin-right: 10px;
    svg {
      fill: #777777;
    }
  }
  .buttonChat {
    right: 25px;
    top: 7px;
  }
  &:hover &--menuButton {
    display: block;
  }
  &--menuItem {
    padding-right: 30px;
    &__disabled {
      color: #cccccc;
    }
  }
}
