.Drawer-Compenent {
  &.anchor-drawer-right {
    .MuiBackdrop-root {
      background-color: initial;
    }
    .MuiDrawer-paper {
      // margin-top: 55px;
      width: 420px;
    }
    .MuiPaper-elevation16 {
      box-shadow: -18px 8px 24px -10px rgba(0, 0, 0, 0.2);
    }
  }
  &.anchor-drawer-left {
    top: 55px !important;
    left: 80px !important;
    .MuiBackdrop-root {
      background-color: initial;
      margin-top: 55px;
      margin-left: 80px;
      // margin-left: 70px;
    }
    .MuiDrawer-paper {
      transform: none !important;
      // margin-top: 55px;
      width: 600px;
      margin-left: 70px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .MuiPaper-elevation16 {
      box-shadow: none;
    }
  }
  &.anchor-drawer-top {
    top: 55px !important;
    left: 80px !important;
    .MuiBackdrop-root {
      margin-top: 55px;
      margin-left: 80px;
    }
    .MuiDrawer-paper {
      transform: none !important;
      margin-top: 55px;
      margin-left: 80px;
      width: calc(25% - 20px);
      height: 100%;
      width: 100%;
    }
    .MuiPaper-elevation16 {
      box-shadow: 22px 8px 24px -10px rgba(0, 0, 0, 0.2);
    }
  }
  .drawer-content {
    position: relative;
    // height: calc(100vh - 55px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #ededed;
    &.new-group-drawer {
      width: 100%;
    }
  }
  .drawer-content-container {
    position: relative;
    height: calc(100vh - 55px);
    display: flex;
    .drawer-content-left {
      position: absolute;
      height: 100%;
      width: calc(25% - 20px);
      display: flex;
      flex-direction: column;
      border-right: 1px solid #ededed;
    }
    .drawer-content-right {
      display: flex;
      justify-content: center;
      align-items: center;
      width: calc(75% + 20px);
      position: absolute;
      right: 0;
      height: 100%;
      .right-content-container {
        p {
          text-align: center;
          font-size: 14px;
        }
        img {
          margin-left: 50%;
          transform: translateX(-50%);
        }
        .right-header-text {
          font-weight: 600;
          font-size: 19px;
        }
      }
    }
  }
  .header-drawer {
    padding: 0 25px;
    height: 69px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    &.none-border {
      border-bottom: none;
    }
    .text-header {
      font-size: 14px;
      // text-transform: uppercase;
      font-weight: 500;
    }
    .btn-close {
      cursor: pointer;
      color: #999;
      display: flex;
      align-items: center;
    }
  }
  .tab-drawer {
    padding: 0 20px;
    border-bottom: 1px solid #ededed;
    .cus-btn {
      text-transform: initial;
      padding: 0;
      margin: 6px 8px;
      &:hover {
        background: #fff;
        color: #1d2129;
      }
      .MuiButton-label {
        font-size: 13px;
        font-weight: normal;
        color: #9094c9;
        &:hover {
          color: #1d2129;
          font-weight: 500;
        }
      }
      &.active {
        .MuiButton-label {
          color: #1d2129;
          font-weight: 500;
        }
      }
    }
    .btn-unread {
      margin-left: 25px;
      padding: 0 12px 0 0;
      .MuiButton-label {
        color: #9094c9;
        font-weight: normal;
        &:hover {
          color: #1d2129;
          font-weight: 500;
        }
      }
    }
    .MuiBadge-badge {
      margin-top: -4px;
    }
    .badges {
      font-size: 10px;
      background-color: red;
      padding: 0 5px;
      color: #fff;
      line-height: 10px;
      border-radius: 10px;
    }
  }
  .content-drawer {
    // height: calc(100vh - 254px);
    height: calc(100% - 140px);
    overflow-y: auto;
    .item-message {
      display: flex;
      padding: 12px 20px;
      border-bottom: 1px solid #ededed;
      cursor: pointer;
      align-items: center;
      &:hover {
        background-color: #f9f9f9;
      }
      &.support-item {
        border: none;
        padding: 0 20px;
        &:hover {
          background-color: #f8f8f8;
        }
        .name-support-message {
          justify-content: space-between;
          display: flex;
          border-bottom: 1px solid #ededed;
          padding: 12px 20px 12px 0;
          width: 100%;
          .text-support-message {
            font-size: 14px;
            font-weight: 500;
          }
        }
      }
      &.setting-item {
        border: none;
        padding: 0 20px;
        &:hover {
          background-color: #d4fff1;
        }
        .name-setting-message {
          justify-content: space-between;
          display: flex;
          padding: 10px 5px 10px 0;
          width: 100%;
          .text-setting-message {
            margin: 0;
            font-size: 14px;
          }
          .setting-value-message {
            font-size: 14px;
            color: #2dc63a;
          }
        }
      }
      .avatar-item-message {
        padding-right: 20px;
        position: relative;
        .badge-un-read {
          background-color: #ff0000;
          z-index: 1;
          position: absolute;
          line-height: 1;
          height: 12px;
          padding: 0;
          min-width: 12px;
          border-radius: 10px;
          right: 13px;
          bottom: 3px;
          border: 2px solid #fff;
        }
      }
      .name-message {
        justify-content: space-between;
        display: flex;
        .text-name-message {
          font-size: 14px;
          font-weight: 500;
          &.content-text {
            font-weight: 400;
            line-height: 17px;
            margin: 5px 0 0;
          }
          b {
            font-size: 14px;
          }
          .header-item-text {
            font-weight: normal;
            margin: 0 0 5px 0;
            .name-header-item-text {
              font-weight: 500;
              font-size: 14px;
            }
          }
        }
      }
      .des-message {
        color: #90949c;
        font-size: 12px !important;
        padding-top: 8px;
      }
      &.un-read {
        background-color: #f9f9f9;
      }
    }
    .avatar-block {
      position: relative;
      margin-bottom: 90px;
      .background-avatar {
        width: 100%;
      }
      .image-avatar {
        position: absolute;
        width: 120px;
        height: 120px;
        left: 150px;
        bottom: -40px;
        .profile-avatar {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          background: white;
          border: 1px solid #ccc;
        }
      }
    }

    .account-status {
      background: #ccc;
      border-radius: 20px;
      padding: 2px 6px;
      color: white;
      display: inline-block;
      text-transform: uppercase;
      font-size: 11px;
      margin-left: 50%;
      transform: translateX(-50%);
      height: auto;
      &.pro-color {
        background-color: #fd7e14;
        color: white;
      }
      &.expire-color {
        background-color: #a0c1d1;
        color: white;
      }
    }
    .account-name {
      font-size: 20px;
      font-weight: 500;
    }
    .link-text {
      color: #009cf3;
      cursor: pointer;
    }
  }
  .footer-drawer {
    padding: 0 20px;
    border-top: 1px solid #ededed;
    justify-content: space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    width: calc(100% - 40px);
    .footer-btn {
      text-transform: none;
      font-weight: normal;
      cursor: pointer;
      text-decoration: none;
      color: #385898;
      &:hover {
        background: transparent;
      }
      a:hover {
        text-decoration: none;
        font-size: 16px;
      }
      a {
        text-decoration: none;
        font-size: 16px;
      }
    }

    .link-home {
      margin-right: 10px;
    }
  }
  .footer-list-drawer {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 0;
    width: 100%;
    .button-item {
      font-size: 14px;
      padding: 20px;
      border-top: 1px solid #ededed;
      text-transform: uppercase;
      cursor: pointer;
      background: white;
      &.primary-color {
        color: #0076f3;
      }
      .text-btn {
        text-decoration: none;
        color: #5a5a5a;
        display: flex;
        line-height: 22px;
        &.support-text {
          color: #385898;
          font-weight: 500;
        }
        .name-text {
          margin-left: 15px;
          font-weight: 500;
        }
      }
    }
  }
  .header-drawer-content-group-account {
    text-align: center;
    margin: 30px 0;
    position: relative;
    .text-header {
      text-transform: uppercase;
      font-size: 15px;
      color: #222222;
    }
    .btn-back {
      position: absolute;
      left: 30px;
      bottom: -5px;
      color: #999;
      cursor: pointer;
    }
    .btn-close {
      position: absolute;
      right: 30px;
      bottom: -3px;
      color: #999;
      cursor: pointer;
    }
  }
  .join-group-new {
    border: 1px solid #ededed;
    border-right: none;
    padding: 15px 20px;
    align-items: center;
    display: flex;
    cursor: pointer;
    &.join-group-search {
      flex-direction: column;
      align-items: flex-start;
      .search-group-title {
        font-size: 15px;
      }
      .search-group-container {
        display: flex;
        width: 100%;
        .search-group-box {
          width: 100%;
          padding: 5px 10px;
          margin-right: 20px;
          background-color: #f6f6f6;
          border-radius: 999px;
          height: 38px;
          font-size: 15px;
        }
        .filter-action {
          padding: 0 20px;
          background-color: #f6f6f6;
          border-radius: 20px;
          height: 38px;
          line-height: 38px;
          font-size: 15px;
        }
      }
    }
    .text-join-group-new {
      padding-left: 0;
      font-size: 16px;
      color: #007bec;
    }
  }
  .content-group-account {
    overflow-y: auto;
    height: calc(100% - 206px);
    &.join-group-container {
      height: calc(100% - 194px);
    }
  }
  .item-group {
    .title-item-group {
      padding: 18px 20px;
      .text-item-group {
        font-size: 13px;
        font-weight: bold;
        color: #969696;
      }
    }
    .title-item-notifi {
      padding: 0 20px 10px;
      .text-title-item-notifi {
        color: #a5a5a5;
        font-size: 14px;
      }
    }
  }
  .item-group-account {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: #f2f5fa;
    }
    &.actived {
      background-color: #f2f5fa;
    }
    &.demo-group {
      // border-top: 1px solid #ededed;
    }
    &.normal-pointer {
      cursor: default;
    }
    .avatar-item-group-account {
      position: relative;
      .MuiAvatar-root {
        width: 50px;
        height: 50px;
        border: solid 1px #ececec;
      }
      .check-icon {
        position: absolute;
        width: 18px;
        height: 18px;
        right: 0px;
        top: 35px;
        background: white;
        border-radius: 50%;
        color: rgb(45, 198, 58);
      }
    }
    .info-item-group-account {
      padding-left: 25px;
      width: 100%;
      position: relative;
      &.invitation-item {
        display: flex;
        .invitation-left {
          width: 100%;
        }
      }
      .text-value-email-phone {
        color: #a5a5a5;
        width: 100%;
        margin: 0;
      }
      .name-item-group-account {
        justify-content: space-between;
        display: flex;
        .text-name-item-group-account {
          font-size: 16px;
          color: #000;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          max-width: 180px;
          &.requirement-header-text {
            margin-right: -120px;
          }
          &.demo-footer-name {
            margin-right: 64px;
          }
        }
        .status-item-group-account {
          height: 20px;
          padding: 0 5px;
          .MuiChip-labelSmall {
            padding-left: 0;
            padding-right: 0;
            font-size: 11px;
          }
          &.pro-color {
            background-color: #fd7e14;
            color: white;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
          &.expire-color {
            background-color: #a0c1d1;
            color: white;
            text-transform: uppercase;
            margin-bottom: 5px;
          }
        }
        .account-status-text {
          margin-top: 3px;
          background-color: #ccc;
          color: white;
          padding: 2px 5px;
          border-radius: 16px;
          line-height: 16px;
          height: 16px;
          margin-bottom: 5px;
          text-transform: uppercase;
        }
      }
      .acc-item-group-account {
        padding: 5px 0;
        display: flex;
      }
      .phone-item-group-account {
        justify-content: space-between;
        display: flex;
      }
      .action-item-btn-group {
        min-width: 120px;
        display: flex;
      }
      .btn-action {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 0 3px;
        font-size: 11px !important;
        font-weight: normal;
        text-transform: none;
        border: 1px solid;
        border-radius: 2px;
        color: #c1c1c1;
        height: 24px;
        min-width: 55px;
        &:hover {
          color: #777;
          background: #fff;
        }
        span {
          font-size: 12px;
        }
        &.leave-group-btn {
          background: unset;
          border: none;
          color: #2196f3;
        }
        &.joined-group-text {
          border: none;
          color: #a5a5a5;
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }
  .btn-ok {
    background-color: #2dc63a;
    border: 1px solid #2dc63a;
    color: #fff;
    padding: 0 3px;
    box-shadow: none;
    border-radius: 0;
    text-transform: initial;
    height: 24px;
    position: absolute;
    min-width: 55px;
    bottom: 0;
    border-radius: 2px;
    span {
      font-size: 12px;
    }
  }
  .btn-close {
    padding: 0 3px;
  }
  .footer-join-group-new {
    border-top: 1px solid #ededed;
    position: absolute;
    bottom: 0;
    width: 100%;
    max-height: 50%;
    .demo-group {
      .btn-ok {
        right: 0;
        top: 0;
      }
    }
  }
}
.drawer-content-quick-start {
  .MuiLink-root {
    cursor: pointer;
  }
  &.anchor-drawer-left {
    left: 80px !important;
    .MuiBackdrop-root {
      margin-left: 80px;
    }
    .MuiDrawer-paper {
      transition: 5s;
      margin-left: 80px;
      min-width: 300px;
    }
  }
  &.anchor-drawer-quick-access {
    .MuiDrawer-paper {
      margin-left: 0;
      min-width: 430px;
    }
  }
  .drawer-content {
    position: relative;
    height: 100vh;
    width: 370px;
    display: flex;
    flex-direction: column;
    &-quick-start {
      width: 450px;
    }
  }
  .header-drawer {
    padding: 0 25px;
    height: 69px;
    line-height: 70px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ededed;
    background: #F3F3F3;
    &.none-border {
      border-bottom: none;
    }
    .text-header {
      font-size: 14px;
      font-weight: 500;
    }
    .btn-close {
      cursor: pointer;
      color: #999;
      display: flex;
      align-items: center;
      svg>path{
        fill: #A9A9A9 !important;
      }
    }
  }
  .header--withIcon {
    display: flex;
    align-items: center;
    .text-header {
      font-size: 18px;
      font-weight: 500;
      margin-left: 10px;
    }
  }
  .content-drawer {
    height: 100%;
    overflow-y: auto;
  }
  .quickAccess {
    &--groupContent {
      padding: 10px;
      .textSecondary {
        color: #b8b7b7;
        margin-left: 32px;
        margin-top: 6px;
        margin-bottom: 10px;
      }
      &-list {
        margin-left: 6px;
      }
      &-header {
        display: flex;
        align-items: center;
        h4 {
          font-weight: 500;
          color: #525252;
          margin-left: 10px;
        }
        &__controlLeft {
          margin-left: auto;
          button {
            text-transform: capitalize;
            padding: 0;
          }
          .MuiButton-textSecondary {
            color: var(--color-primary) !important;
          }
        }
      }
      .MuiListItemText-primary {
        font-weight: 500;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      &-body {
        padding-left: 12px;
        .MuiListItemIcon-root {
          min-width: 40px;
        }
      }
      &-itemCustom {
        cursor: pointer !important;
        background: #F8F8F8;
        &:hover {
          background: var(--color-primary);
          border-radius: 3px;
          opacity: 0.7;
          color: #fff;
          .quickAccess--groupContent-listCustom-dragIcon, .quickAccess--groupContent-listCustom-closeIcon {
            display: block;
          }
          .quickAccess--groupContent-iconCustom {
            background: var(--color-primary);
            opacity: 1;
          }
        }
      }
      &-listCustom {
        margin-left: 22px;
        .MuiListItem-gutters {
          padding: 0 8px 0 0;
          margin-bottom: 6px;
        }
        &-dragIcon {
          display: none;
          position: absolute;
          left: -18px;
        }
        &-closeIcon {
          display: none;
          margin-top: 2px;
        }
      }
      &-iconCustom {
        background: #D4D5D6;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        min-width: 30px !important;
        width: 30px !important;
        height: 30px !important;
        margin-right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
    &--bottomLink {
      display: flex;
      flex-direction: column;
      margin-left: 40px;
      &>* {
        margin-bottom: 7px;
      }
    }
  }
}
.add-header-btn {
  margin: 0 13px;
}
.text-center {
  text-align: center;
}
.red-text {
  color: red;
  &.no-result {
    margin: 0;
    padding: 0 20px;
  }
}
