.GuildLineAddUserModal {
  &-addButton {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    background: #E5E8FD;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    .MuiSvgIcon-root {
      font-size: 32px;
    }
  }
  .MuiButton-root {
    padding: 8px 16px;
    background-color: #fff;
    color: #222;
    font-weight: 500;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    &:hover {
      background: #eee;
    }
  }
  .MuiButton-textPrimary {
    color: #0097FA;
  }
}