.left-setting-icon {
  padding: 8px;
  width: 23px !important;
  height: 23px !important ;
}
.title-setting-item {
  font-weight: 500;
  &.none-icon {
    margin-left: 12px;
  }
}
.sub-setting-item {
  margin-left: 29px;
  font-weight: normal;
  font-size: 14px;
}
.item-actived {
  cursor: pointer;
  background-color: #E6E6E6 !important;
}
.none-action {
  pointer-events: none;
}
.status-memory{
  padding: 20px 28px;
  width: 80%;
  border-top: 1px solid #c7c2c2;
  color: #383636;
  &__title{
    display: flex;
    align-items: center;
    svg{
      width: 26px !important;
      height: 26px !important;
    }
    &-text{
      padding-left: 15px;
      font-size: 14px;
      font-weight: 500;
    }
  }
  &__note{
    margin-top: 10px;
    font-size: 14px;
  }
  button{
    padding: 6px 24px;
    text-transform: unset;
    border: 1px solid #ccc;
    margin-top: 15px;
    span{
      font-size: 14px;
    }
  }
}

.noti-promotion {
  position: relative;
  .step-icon {
    color: #f9598f;
  }
  .step-number {
    position: absolute;
    width: 15px;
    height: 15px;
    background: red;
    color: #fff;
    border-radius: 50%;
    right: -10px;
    top: -5px;
    line-height: 15px;
    text-align: center;
    font-size: 10px;
  }
}