.left-setting-icon {
  padding: 8px;
  width: 23px !important;
  height: 23px !important ;
}
.title-setting-item {
  font-weight: 500;
  &.none-icon {
    margin-left: 32px;
  }
}
.sub-setting-item {
  margin-left: 49px;
  font-weight: 500;
  font-size: 14px;
}
.item-actived {
  cursor: pointer;
  background-color: #e6f0ff !important;
}
.none-action {
  pointer-events: none;
}
