.ForwardMessageDialog {
  display: grid;
  grid-template-columns: 1fr 2fr;
  border: 1px solid #e0e0e0;
  &--border {
    border-right: 1px solid #e0e0e0;
    min-height: 660px;
  }
  &--title {
    border-bottom: 1px solid #e0e0e0;
    padding: 20px;
    color: #686868;
    font-size: 16px;
    text-transform: uppercase;
  }
  &--taskGroup {
    text-transform: uppercase;
    font-weight: bold;
    background-color: #cccccc;
    &Title {
      padding: 8px 12px;
    }
  }
  &--task {
    position: relative;
    padding: 8px 12px;
    background-color: #ffffff;
    border-bottom: 1px solid #cccccc;
  }
  &--sendButton {
    position: absolute;
    top: 8px;
    right: 20px;
  }
}
