.comp_PermissionRow .comp_AvatarCell {
  padding-left: 20px;
  line-height: 0;
}
.comp_CustomTable___container .comp_ColumnLayout {
  flex: 1;
}
.comp_CustomTable___container .comp_rightColumn {
  flex: unset;
  width: 400px !important;
}
.comp_ColumnLayout .comp_CustomTable___header {
  height: 70px;
}
.comp_rightColumn_content {
  &__empty {
    height: 100vh;
    width: calc(100% - 401px);
    background: #fff;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &>*:first-child {
      font-weight: 500;
      font-size: 16px;
    }
    &>*:nth-child(2) {
      width: 400px;
      text-align: center;
      line-height: 23px;
    }
    .MuiButton-containedPrimary {
      color: #fff;
    }
  }
  &_memberList {
    .MuiListItem-container:hover {
      .MuiListItemSecondaryAction-root {
        display: block;
      }
    }
    .MuiListItem-root {
      cursor: pointer;
      &:hover {
        background: #F1F5FB;
      }
    }
    .MuiListItemText-primary {
      font-weight: 500;
    }
    .MuiListItemSecondaryAction-root {
      display: none;
      .MuiButton-containedPrimary {
        color: #fff;
        text-transform: unset;
        font-weight: 400;
      }
    }
    .active {
      background: #F1F5FB;
    }
  }
  .comp_CustomList___list-item {
    background: #fff;
    &:hover {
      background: #eeeeee;
    }
  }
  .comp_CustomList___list-item.active {
    background: #eeeeee;
  }
}

.comp_rightColumn {
  &_topBar {
    padding: 10px;
    &>*:not(:last-child) {
      margin-bottom: 7px;
    }
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  &_filterBar {
    display: flex;
    align-items: center;
    padding: 10px;
    &>*:not(:last-child) {
      margin-right: 7px;
    }
    .MuiChip-root {
      color: rgba(0,0,0,0.54);
      height: 30px;
      border-radius: 3px;
    }
    .MuiChip-colorPrimary {
      color: #fff;
    }
  }
  &--topHeader {
    display: flex;
    align-items: center;
    &-left {
      width: 400px;
      text-align: center;
      margin-left: -20px;
      border-right: 1px solid rgba(0,0,0,0.1);
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      .MuiTypography-h6 {
        text-transform: uppercase;
        color: #222222;
        font-weight: 400;
        font-size: 15px;
      }
    }
    &-right {
      display: flex;
      align-items: center;
      margin-left: 15px;
    }
  }
  &--customSelectBox {
    margin-left: 5px;
    .MuiInput-underline {
      &:before {
        display: none;
      }
    }
    .MuiSelect-select:focus {
      background-color: unset;
    }
  }
}