.comp_PermissionRow .comp_AvatarCell {
  padding-left: 20px;
  line-height: 0;
}
.comp_CustomTable___container .comp_ColumnLayout {
  flex: 1;
}
.comp_CustomTable___container .comp_rightColumn {
  flex: unset;
  width: 400px !important;
}
.comp_ColumnLayout .comp_CustomTable___header {
  height: 70px;
}
.comp_rightColumn_content {
  padding: 20px 27px 50px 20px;
}
