.gantt--preview-pdf__title{
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
}
.gantt--preview-pdf__content{
    display: flex;
    color: #111;
    font-size: 14px !important;
    margin: 10px 0px;
    line-height: 1.5;
    justify-content: space-between;
}

.gantt--preview-pdf__container{
    margin: 10px 10px;
    height: calc(100% - 41px);
}
.gantt-export-pdf--modal__container .MuiPaper-root{
    height: 100vh !important;
}
.gantt-export-pdf--modal__container .comp_LoadingOverlay___wrapper {
    min-height: calc(100% - 118px) !important
}
.gantt-export-pdf--modal__container.comp_CustomModal___dialog-md > div:nth-child(3) > div {
    overflow: hidden ;
    min-width: 40vw ;
    max-width: 100% ;
    margin: 0 ;
    max-height: 100% ;
}