.comp_CustomLeftSettingSubItem__label {
  font-weight: normal;
  font-size: 14px;
  padding-left: 49px;
}

.calendar_type_secondary {
  color: rgba(0, 0, 0, 0.54);
  font-size: 14px;
  word-break: break-all;
}

.custom-title-setting-item {
  color: #222;
  font-weight: 500;
}
.left-setting-icon {
  flex: none;
}
.comp_CustomList___list-item>:not(:first-child) {
  /*max-width: 80%;*/
}