.view_Department_Info___logo-box {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > *:not(:last-child) {
    margin-bottom: 5px;
  }
}

.view_Department_Info___textbox {
  padding: 10px 0;
}

.view_Department_Info___intro-text {
  color: #222;
  font-weight: 500;
}