.comp_WeekSelectMenu .MuiList-root {
  width: 100% !important;
  padding-right: 0 !important;
}
.comp_WeekSelectMenu {
  top: 40px !important;
}
.home-week-schedule-select li {
	white-space: unset!important;
}
.home-week-schedule-select li b{
	float: left;
	width: 100%;
}