.introEmptyData {
  &-container {
    padding: 45px 0 0 100px;
    position: relative;
    margin-top: 50px;
    height: 100vh;
    display: flex;
    font-size: 14px;
    .bgEmpty {
      height: 650px;
      position: absolute;
      right: 0;
      top: calc(100vh - 750px);
    }
    .bgRequestJoinIntro {
      width: 550px;
      position: absolute;
      right: 0;
      bottom: 50%;
    }
    .MuiButton-root {
      background: var(--color-primary);
      color: #fff;
      min-width: 300px;
      min-height: 60px;
      margin-top: 20px;
    }
    .MuiTypography-h5 {
      font-size: 22px;
      margin-bottom: 25px;
    }
    p {
      line-height: 1.75rem;
      font-size: 14px;
    }
    &__btnActionGroup {
      display: flex;
      align-items: center;
      &>*:not(:last-child) {
        margin-right: 15px;
      }
    }
    .MuiButton-outlined {
      color: grey;
      background: #fff;
      z-index: 99;
    }
  }
  &-left {
    width: 400px;
  }
}
.longContent {
  margin-top: -20px;
  .selectedGroup {
    display: flex;
    align-items: center;
    margin-top: -23px;
  }
  .bgEmpty {
    top: calc(100vh - 650px);
  }
  ul {
    padding-left: 12px;
  }
  ::marker {
    color: grey;
  }
}