.ReactEmotionPopup {
  display: flex;
  // position: absolute;
  // left: -105px;
  // top: -40px;
  // background-color: #fff;
  padding: 3px 10px;
  // border-radius: 50px;
  // border: 1px solid #ececec;
  // box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
  opacity: 0.95;
  &--menuItem {
    padding: 0;
    margin-left: 5px;
    width: 30px;
    height: 30px;
  }
  &--image {
    width: 25px;
    height: auto;
    margin-top: 2px;
    transition-duration: 0.1s;
    &:hover {
      transform: scale(1.4);
    }
  }
}
