.view_Job_Tablist_new__label-list-item {
  &:hover {
    cursor: default;
    background-color: #fff;
  }
}

.view_Job_Tablist_new__label-primary {
  font-weight: 500;
  font-size: 17px;
  color: #62647b;
}

.view_Job_Tablist_new__task-primary {
  padding: 8px 0;
  display: flex;
  width: 100%;
  color: #000;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  text-decoration: none;
  & > small {
    font-size: 13px;
    font-weight: normal;
  }
}

.view_Job_Tablist_new__task-sub {
  padding: 8px 0;
  display: flex;
  width: 100%;
  align-items: center;
  font-weight: 400;
  text-decoration: none;
  font-size: 15px;
  color: #9b9b9b;
  & > small {
    font-size: 13px;
    font-weight: normal;
    color: #9b9b9b;
  }
}
