.projectItem {
  margin: 0px;
  padding: 15px 15px 15px 43px;
  cursor: pointer;
  display: flex;
  align-items: center;
  & > * {
    &:first-child {
      display: block;
      font-weight: 500;
      font-size: 14px;
      max-width: 65%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 16px;
      line-height: 16px;
    }
    &:last-child {
      display: block;
      margin-left: auto;
      height: 16px;
      line-height: 16px;
      color: #8b8b8b;
    }
  }
  &:hover {
    background-color: #f2f5fa;
  }
  &__selected {
    background-color: #f2f5fa;
    font-weight: bold;
    color: #545454;
  }
}
