.comp_CustomDatePicker___date-box {
  margin-top: 16px;
  margin-bottom: 8px;
  & > p {
    margin: 0 0 8px 0;
    font-size: 14px;
    font-weight: 500;
    color: #222;
    & > abbr {
      color: red;
      margin-left: 5px;
    }
  }
}
