.page-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(300px, 1fr) minmax(800px, 3fr);
  grid-template-areas: 'list table';
}
.MuiChip-label {
  overflow: unset;
}
.MuiDialog-paperWidthLg {
  max-width: 1000px;
}
.red-color {
  color: #dc3545;
}
.MuiTooltip-tooltip {
  height: auto;
}