.page-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: minmax(300px, 1fr) minmax(800px, 4fr);
  grid-template-areas: "list table";
}
.MuiChip-label {
  overflow: unset;
}
.MuiDialog-paperWidthLg {
  max-width: 1000px;
}
.red-color {
  color: #dc3545;
}
.MuiTooltip-tooltip {
  height: auto;
}
.MuiOutlinedInput-root {
  &.Mui-focused {
    .MuiOutlinedInput-notchedOutline {
      box-shadow: 0px 0px 10px #d5d5d5;
      border-color: var(--color-primary) !important;
      border-width: 1px;
    }
  }
  &:hover {
    .MuiOutlinedInput-notchedOutline {
      box-shadow: 0px 0px 10px #d5d5d5;
      border-color: var(--color-primary) !important;
      border-width: 1px;
    }
  }
}

li.MuiButtonBase-root.MuiListItem-root.MuiMenuItem-root.MuiMenuItem-gutters.MuiListItem-button:hover {
  background: #f2f5fa;
}

.u-colorWhite {
  color: #fff;
}
.u-fontSize12 {
  font-size: 12px !important;
}
.u-link:hover {
  cursor: pointer;
  color: #3f51b5;
}
.u-colorBlue {
  color: #3f51b5 !important;
}

.custom-select-modal {
  * { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box; 
  }
  .comp_CustomModal___dialog-content {
    padding: 20px 0px 0px 0px;
  }
  .body-head {
    padding: 0px 20px 0px 20px;
  }
  .custom-search {
    > svg {
      top: 10px;
    }
    > div {
      height: 40px;
      border-radius: 3px;
    }
  }
  .modal-line {
    width: 100%;
    display: flex;
    position: relative;
  }
  .tip-line {
    margin-top: -10px;
    line-height: 20px;
    color: #0e0d0da8;
    b {
      margin-right: 5px;
    }
  }
  .create-line {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 0px;
    span {
      cursor: pointer;
    }
  }
  .line-option {
    display: flex;
    width: 100%;
    position: relative;
    height: 50px;
    padding: 0px 20px;
    margin: 0px;
    color: #0e0d0da8;
    .icon-option {
      width: 50px;
      text-align: left;
      margin: auto;
      display: flex;
      img {
        width: 30px;
        border-radius: 50%;
      }
      svg {
        width: 1.2em;
        height: 1.2em;
        color: #acacac;
      }
    }
    .name-option {
      width: calc(100% - 50px);
      margin: auto;
      font-size: 13px;
      color: #000
    }
    .control-option {
      position: absolute;
      right: 20px;
      display: none;

      svg {
        font-size: 25px;
        padding: 5px;
        background: #271e1e1f;
        border-radius: 50%;
        margin-top: 15px;
        &:first-child {
          margin-right: 13px
        }
      }
    }
    &:hover {
      background: #f5f5f5;
      cursor: pointer;
      .control-option {
        display: block;
      }
    }
  }
  .line-option-selected {
    .name-option {
      color: #fff
    }
  }
  .no-data-parent {
    display: flex;
    width: 100%;
    margin-top: 30px;
    .no-data-selection {
      text-align: center;
      margin: auto;
      img {
        width: 60%;
        margin-bottom: 30px;
      }
      p {
        &:first-of-type {
          font-size: 16px;
        }
      }
    }
  }
}
.per-line-step-in-form {
  margin-bottom: 20px!important
}
.left-group-task-no-permission {
  > a {
    padding: 10px 15px 10px 20px;
  }
}
.select-customer-from-input {
  position: relative;
  .icon-arrow {
    position: absolute;
    right: 10px;
    bottom: 8px;
    color: #b1b1b1;
    font-size: 24px;
    border-left: 1px solid #ccc;
    padding-left: 10px
  }
  input {
    cursor: pointer;
    padding: 12px 14px!important;
  }
}
.title-intro-messenger {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0px
}
.description-intro-messenger {
  font-size: 14px;
  line-height: 20px;
}
.btn-create-group-intro-messenger {
  padding: 15px 30px;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  margin-top: 20px;
  cursor: pointer;
  text-transform: uppercase;
}
.tab-category-forward-chat-to-person {
  float: left;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  button {
    padding: 6px 20px;
    color: #fff;
    background: #dedede;
    border: 0px;
    color: #757373;
    font-size: 13px;
    border-radius: 3px;
    font-size: 13px;
    cursor: pointer;
    &:first-child {
      margin-right: 10px;
    }
  };
}
.modal-member-task-mark-show {
  display: flex;
  span {
    margin: auto;
  };
}
.forward-message-modal {
  .MuiPaper-root {
    height: auto!important;
    .dialogWrap--container {
      height: 150px!important
    }
  }
}
.modal-week-schedule-home-page {
  .MuiDialog-paperScrollPaper {
    height: calc(100% - 64px);
    .modal-content {
      overflow-x: hidden;
      height: calc(100% - 120px);
      padding: 10px 20px;
      .view_WeeklyCalendar_rightContainer {
        height: 100%;
        padding: 0px;
      }
      .view_WeeklyCalendar_rightContainer__TableContainer {
        height: calc(100% - 70px);
      }
    }
  }
}
.section-list-task-chat {
  display: flex;
  width: 100%;
  height: 100%;
  .loading-list {
    margin: auto;
  }
}
.section-chat-leave-group {
  width: auto;
  margin: auto;
  background: #fff;
  padding: 5px;
  border-radius: 20px;
  display: flex;
  img {
    width: 20px;
    border-radius: 50%;
    margin-right: 5px;
  }
  span {
    margin: auto;
    margin-right: 5px
  }
}
.marker-location-share {
  text-align: center;
  position: relative;
  .img-main {
    width: 28px;
    position: absolute;
    border-radius: 50%;
    left: calc(50% - 14px);
    top: 12px;
  }
  .title-marker {
    width: 120px;
    background: #fff;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    color: #ff5122;
    padding: 5px;
    position: absolute;
    left: -25px;
    line-height: 20px
  }
}