.EmotionReact {
  position: absolute;
  right: 10px;
  bottom: 6px;
  display: flex;
  flex-direction: row;
  &--react {
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;
    padding: 0px 6px;
    display: flex;
    flex-direction: row;
    &__self {
      flex-direction: row-reverse;
    }
  }
  &--reactMember {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.65);
    border-radius: 3px;
    padding: 6px 10px;
    top: -34px;
    display: none;
    color: #ffffff;
    min-width: 120px;
    left: -40px;
  }
  &--react:hover &--reactMember {
    display: block;
  }
  &--totalReact {
    font-size: 14px;
    line-height: 20px;
    margin: 0 2px;
  }
  &--image {
    margin-left: 2px;
    width: 18px;
    height: 18px;
    margin-top: 1px;
  }
  &--button {
    margin: auto 5px;
    padding: 3px;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    border-radius: 25px;
    position: relative;

    &:hover .ReactEmotionPopup {
      display: flex;
      top: -29px;
    }
    &QuickReact {
      padding: 3px;
    }
  }
  &--button &--image {
    margin: 0;
    width: 100%;
    height: 100%;
    transition-duration: 0.1s;
  }
  &--icon {
    width: 20px;
    height: 20px;
  }
  &__self {
    flex-direction: row-reverse;
    left: 10px;
    right: unset;
  }
}
