.comp_Message {
  display: flex;
  align-items: flex-start;
}
.comp_Message__avatar {
  width: 40px;
  height: 40px;
}
.comp_Message .comp_Message .comp_Message__avatar {
  margin-top: 5px;
  width: 30px;
  height: 30px;
}
.comp_Message__content {
  line-height: 22px;
  padding: 8px;
  background: rgb(245, 246, 247);
  border-radius: 15px;
  display: inline-block;
}
.comp_Message__sticker {
  margin-top: 8px;
  margin-bottom: 4px;
  padding: 8px;
  max-width: 400px;
  background: rgb(245, 246, 247);
  border-radius: 15px;
}
.comp_Message__sticker img {
  width: 100%;
}
.comp_Message__reply {
  color: #3f51b5;
  margin-right: 8px;
  font-size: 12px !important;
  color: #385898;
}
.comp_Message__expand {
  margin: 6px 0;
  color: #3f51b5;
  display: flex;
  align-items: center;
}
.comp_Message__expand svg {
  font-size: 16px;
  margin-right: 6px;
}
.comp_Message__creator {
  margin-right: 8px;
  font-weight: bold;
  color: #3f51b5;
}
.comp_Message__message {
  color: #000;
}
