.comp_TasksCard__Container {
  position: relative;
  font-size: 15px;
  border: 1px solid #dedede;
}
.comp_TasksCard__HeaderAvatar {
  font-size: 15px;
}
.comp_TasksCard__Header {
  align-items: center;
}
.comp_TasksCard__Header .MuiCardHeader-action {
  align-self: center;
  margin: 0;
}
.comp_TasksCard__HeaderTitle {
  font-size: 15px;
}
.comp_TasksCard__HeaderSubTitle {
  font-size: 13px !important;
}
.comp_TasksCard__Content {
  font-size: 15px;
  white-space: pre-line;
  font-size: 15px;
  color: #545454;
  font-weight: normal;
}

.comp_TasksCard__HighLight {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border-right: 3px solid rgb(0, 156, 243);
}
.comp_TasksCard__Media {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 0;
  padding-top: 80%;
  position: relative;
}
.comp_TasksCard__Media > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
}
.comp_TasksCard__Media img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.comp_TasksCard__Media__mark {
  top: 0px;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.34);
  color: rgb(255, 255, 255);
  font-size: 28px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.comp_TasksCard__Media img:first-child {
  grid-area: img1;
}
.comp_TasksCard__Media1 > div {
  grid-template-areas: "img1";
}
.comp_TasksCard__Media1 img {
}
.comp_TasksCard__Media2 > div {
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
  row-gap: 4px;
  grid-template-areas: "img1 img";
}
.comp_TasksCard__Media3 > div {
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr 1fr;
  column-gap: 4px;
  align-items: flex-start;
  row-gap: 4px;
  grid-template-areas:
    "img1 img1"
    "img img";
}
.comp_TasksCard__Media4 > div {
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
  align-items: flex-start;
  row-gap: 4px;
  grid-template-areas:
    "img1 img1 img1"
    "img img img";
}
.comp_TasksCard__Media5 > div {
  grid-template-rows: 60% 40%;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 4px;
  align-items: flex-start;
  row-gap: 4px;
  grid-template-areas:
    "img1 img1 img1"
    "img img img";
}
.comp_TasksCard__Media4 > div > div:last-child {
  position: relative;
  height: 100%;
}
