@mixin view_KanbanPage___container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 55px 1fr;
  & > * {
    &:first-child {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.view_KanbanPage___container {
  & {
    @include view_KanbanPage___container;
    grid-template-rows: 55px 1fr;
  }
  &-closed {
    @include view_KanbanPage___container;
    grid-template-rows: 16px 1fr;
  }
}
