.view_CreatPeronsalRemind_container {
  min-height: 350px;
  display: flex;
  flex-direction: column;

  abbr {
    text-decoration: none;
  }

  .MuiOutlinedInput-input {
    padding: 11px;
  }

  .MuiOutlinedInput-inputMultiline {
    padding: 0px !important;
  }

  .remind_group {
    &_container {
      display: flex;
      flex-direction: column;
    }

    &_selector {
      height: 40px;
    }
  }

  .remind_setting {
    &_container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 40% 30% 30%;
      margin-top: 10px;
    }

    &_day {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      &_inputDate {
        .MuiOutlinedInput-input {
          padding: 11px;
        }
      }
    }

    &_time {
      display: flex;
      flex-direction: column;

      &_timeSelector {
        width: 100%;
      }
    }

    &_type {
      display: flex;
      flex-direction: column;

      &_selector {
        height: 40px;

        &--paper {
          .MuiList-root {
            min-height: 80px !important;
          }

          .MuiPaper-root {
            transform: translateY(30px) !important;
            scrollbar-width: thin;
            scrollbar-color: rgba(0, 0, 0, 0.1) #f8f8f8;

            &::-webkit-scrollbar {
              width: 5px;
              background-color: unset !important;
            }

            &::-webkit-scrollbar-thumb {
              cursor: pointer !important;
              min-height: 50px !important;
              border-radius: 5px;
            }

            &::-webkit-scrollbar-track {
              background-color: unset !important;
            }

            &:hover {
              &::-webkit-scrollbar-thumb {
                background-color: rgba(0, 0, 0, 0.2);
                border-radius: 10px;
              }
            }
          }
        }
      }
    }

    &_content {
      margin: 10px 0px;

      &_input {
        margin-top: 10px;
      }

      &_textFieldMuitiline {
        margin-top: 8px;
      }
    }

    &_userAssign {
      display: flex;
      flex-direction: column;
    }

    &_userAssignBox {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      text-transform: none;
      flex-wrap: wrap;

      .MuiButton-textPrimary {
        color: #009CF3 !important;
        text-transform: none;
      }

      &_buttonAdd {
        margin-top: 7px;
      }
    }

    &_userAssignItem {
      max-width: 180px;
      height: 30px;
      border-radius: 15px;
      background-color: #F6F6F6;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 7px;
      margin: 5px 5px;

      &>span {
        margin-left: 5px;
      }
    }

    &_userAssignAll {
      background-color: rgba(139, 195, 74, .26);
      padding: 10px 20px;
      font-weight: 500;
      border-radius: 3px;
      font-size: 13px !important;
      color: #539a00;
      margin-right: 7px;
      text-align: center;
    }

    &_beforeTimeContainer {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      margin: 10px 0px;

      &_timeInput {
        margin-right: 10px;
        width: 100px;
      }

      &_selector {
        width: 100px;
      }
    }
  }

  .title_normal {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .title {
    margin-bottom: 10px;

    &>span:nth-child(1) {
      font-size: 14px;
      font-weight: 500;
    }

    &>span:nth-child(2) {
      color: red;
      margin-left: 5px;
    }
  }

  .create_remind_description {
    margin: 10px 0px;
    color: rgba(0, 0, 0, 0.7);
  }
}

.remind_group_selector--paper,
.remind_setting_type_selector--paper,
.remind_setting_beforeTimeContainer_selector--paper {
  .MuiList-root {
    min-height: 120px !important;
  }

  .MuiPaper-root {
    // max-height: 150px;
    transform: translateY(35px) !important;
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.1) #f8f8f8;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: unset !important;
    }

    &::-webkit-scrollbar-thumb {
      cursor: pointer !important;
      min-height: 50px !important;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-track {
      background-color: unset !important;
    }

    &:hover {
      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }
    }
  }
}

.remind_setting_beforeTimeContainer_selector--paper {
  .MuiList-root {
    min-height: 60px !important;
  }
}