.view_CreatPeronsalRemind_container {
  min-height: 350px;
  display: flex;
  flex-direction: column;

  .MuiOutlinedInput-input {
    padding: 11px;
  }

  .MuiOutlinedInput-inputMultiline {
    padding: 0px !important;
  }

  .remind_group {
    &_container {
      display: flex;
      flex-direction: column;
    }

    &_selector {
      height: 40px;
    }
  }

  .remind_setting {
    &_container {
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 40% 30% 30%;
      margin-top: 10px;
    }

    &_day {
      display: flex;
      flex-direction: column;
      margin-right: 15px;

      &_inputDate {
        .MuiOutlinedInput-input {
          padding: 11px;
        }
      }
    }

    &_time {
      display: flex;
      flex-direction: column;

      &_timeSelector {
        width: 100%;
      }
    }

    &_type {
      display: flex;
      flex-direction: column;

      &_selector {
        height: 40px;
      }
    }

    &_content {
      margin: 10px 0px;
    }

    &_userAssign {
      display: flex;
      flex-direction: column;
    }

    &_userAssignBox {
      display: inline-flex;
      justify-content: space-around;
      align-items: center;
      text-transform: none;
      flex-wrap: wrap;

      .MuiButton-textPrimary {
        color: #009CF3 !important;
        text-transform: none;
      }

      &_buttonAdd {
        margin-top: 7px;
      }
    }

    &_userAssignItem {
      max-width: 180px;
      height: 30px;
      border-radius: 15px;
      background-color: #F6F6F6;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      padding: 0px 7px;

      &>span {
        margin-left: 5px;
      }
    }

    &_beforeTimeContainer {
      display: inline-flex;
      align-items: center;
      justify-content: space-between;
      width: 300px;
      margin: 10px 0px;

      &_timeInput {
        margin-right: 10px;
        width: 100px;
      }

      &_selector {
        width: 100px;
      }
    }
  }

  .title {
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
  }

  .create_remind_description {
    margin: 10px 0px;
    color: rgba(0, 0, 0, 0.7);
  }
}