.comp_CustomTable_TableBodyGroup___row {
  background-color: #fafafa;
  color: rgb(68, 72, 94);
  font-weight: 600;
  padding: 0;
  & > td {
    padding: 8px 20px;
    font-size: 12px;  
  }
};

.comp_CustomTable_TableBodyGroup___button {
  justify-content: flex-start;
  background-color: #fafafa;
  border-radius: 0;
  padding: 0;
  & > span {
    font-weight: bold;
    color: rgb(68, 72, 94);
    & > span {
      margin-left: auto;
    }
    &:last-child {
      display: none;
    }
  }  
  &:hover {
    background-color: #fafafa;
  }
};