.comp_CustomTable_TableBodyGroup___row {
  background-color: #fafafa;
  color: rgb(68, 72, 94);
  font-weight: 600;
  padding: 0;
  & > td {
    padding: 8px 20px;
    font-size: 12px;  
    position: relative;
    &:first-child{
      width: 40px;
    }
  }

};

.comp_CustomTable_TableBodyGroup___button {
  justify-content: flex-start;
  background-color: #fafafa;
  border-radius: 0;
  padding: 0;
  & > span {
    font-weight: bold;
    color: rgb(68, 72, 94);
    & > span {
      margin-left: auto;
    }
    &:last-child {
      display: none;
    }
  }  
  &:hover {
    background-color: #fafafa;
  }
};

.action_group{
  display: flex;
  position: absolute;
  right: 15px;
  top: 9px;
  display: none;
  button{
    background-color: rgba(190, 181, 181, 0.54);
    border-radius: 50%;
    &:last-child{
      margin-left: 10px;
    }
    svg{
      width: 1.2rem !important;
      height: 1.2rem !important;
    }
  }
}
.action_group_hover{
  display: block;
}
#menuMoreAction{
 
  .MuiList-root .MuiListItem-button:hover{
    text-decoration: none;
   background-color: #d8e0ef;
}
}
.icon-drag-hide{
  opacity: .8;
}
.icon-drag-hover{
  opacity: 1;
}
.group-task-name{
  padding-left: 3px !important;
}
.group-icon-drag{
  padding-left: 10px !important;
  padding-right: 5px !important;
  text-align: center !important;
  div{
    padding-left: 0 !important;
  }
}