.memberPermission {
  &--button {
    padding: 0 5px;
    color: #333333;
    font-weight: 400;
    border-radius: 3px;
    background-color: #f4f4f4;
  }
}

.projectMemberItem {
  display: flex;
  align-items: center;
  & > *:not(:last-child) {
    margin-right: 8px;
  }
  & > *:last-child {
    margin-left: auto;
  }
  &--button {
    border: 1px solid #e2e2e2;
    padding: 0 5px;
    color: gray;
    font-weight: 400;
    border-radius: 2px;
    &:hover {
      color: #fff;
      background: #10c401;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: #f2f5fa;
  }
}

.AddMemberModal {
  .MuiDialogContent-root {
    padding: 0;
    min-height: 660px;
  }
}

.table-scroll-add-member {
  // overflow-y: scroll;
  height: calc(100% - 160px);
}

// AddMemberModal - ListHeader
.table-scroll {
  // overflow-y: scroll;
  height: calc(100% - 160px);
  // scrollbar-width: thin;
  // scrollbar-color: rgba(0, 0, 0, 0.1) #f8f8f8;
  // &::-webkit-scrollbar {
  //   width: 5px;
  //   border-radius: 5px;
  // }
  // &::-webkit-scrollbar-thumb {
  //   background-color: #fff;
  //   border: none;
  // }
  // &:hover {
  //   &::-webkit-scrollbar-thumb {
  //     background-color: rgba(0, 0, 0, 0.2);
  //     border-radius: 10px;
  //   }
  // }
}
