.memberPermission {
  &--button {
    border-radius: 2px;
    padding: 6px 6px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: #333333;
    font-weight: 400;
    background-color: #ffffff;
    font-size: 12px;
    text-transform: none;
    width: 100px;
    .MuiButton-label {
      font-size: 12px;
      line-height: 15px;
      text-align: left;
    }
    &:hover {
      cursor: pointer;
      background-color: #eeeeee;
    }
    &__owner {
      color: red;
    }
  }
  &--permissionName {
    &::after {
      content: "arrow_right";
      font-family: Material Icons;
      font-style: normal;
      font-weight: normal;
      text-decoration: inherit;
      margin-left: -3px;
      margin-top: 1px;
      position: absolute;
      font-size: 18px;
      color: #b3b3b3;
    }
  }
}

.projectMemberItem {
  display: flex;
  align-items: center;
  padding-left: 20px;
  & > *:last-child {
    margin-left: auto;
  }
  &--textWrap {
    margin-left: 10px;
  }
  &--loading {
    margin-right: 8px;
    margin-left: auto;
  }
  &--button {
    border: 1px solid #dcdcdc;
    color: #444444;
    height: 25px;
    text-transform: unset;
    padding: 2px 8px;
    width: 50px;
    min-width: unset;
    border-radius: 2px;
    font-weight: 400;
    line-height: 20px;
    &:hover {
      background: #efefef;
    }
  }
  &:hover {
    cursor: pointer;
    background-color: #f2f5fa;
  }
}

.AddMemberModal {
  .MuiPaper-root {
    max-width: 40vw !important;
  }
  .MuiDialogContent-root {
    padding: 0;
    height: 100%;
    overflow: hidden;
  }
  &-container {
    display: flex;
    flex-direction: column;
    //padding: 10px 15px !important;
  }
  &--title {
    color: #555555;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    padding: 12px 24px;
    margin: 0;
  }
  &--alert {
    display: flex;
    margin: 10px 16px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 5px;
    svg {
      margin-right: 5px;
    }
  }
  &--alertText {
    font-size: 14px;
  }
  .text-hint {
    font-size: 13px;
    font-style: italic;
    margin: 10px 0;
  }
  &-btnGroup {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    &>*:not(:last-child) {
      margin-right: 7px;
    }
    .MuiChip-root {
      border-radius: 5px;
      height: 25px;
    }
    .MuiChip-colorPrimary {
      background: var(--color-primary);
      color: #fff;
    }
  }
  &-listMembersItem {
    display: flex;
    align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
    &:hover {
      background: #F3F5FB;
      .MuiRadio-root {
        color: var(--color-primary);
      }
      .checkIcon {
        path {
          fill: var(--color-primary) !important;
        }
      }
    }
    .MuiRadio-root {
      padding: 0;
    }
    .MuiRadio-colorSecondary.Mui-checked {
      color: var(--color-primary);
    }
    .MuiSelect-icon {
      top: calc(50% - 10px);
    }
    .memberTypeAssigned {
      padding: 7px 12px;
      background: #FF0000;
      color: #fff;
      border-radius: 2px;
      margin-left: 15px;
      &:hover {
        background: #ff4c55;
      }
    }
    .MuiListItemSecondaryAction-root {
      display: flex;
      align-items: center;
      right: 0;
    }
  }
}

.table-scroll-add-member {
  height: calc(100% - 180px);
}

.table-scroll {
  height: calc(100% - 91px);
  .MuiTableCell-root {
    border-bottom: 1px solid #f0f0f0;
  }
}

.TableMember {
  &--cellAvatar {
    border-bottom: 1px solid #f0f0f0;
    .MuiAvatar-root {
      margin-left: 10px;
    }
  }
  &--selectBox {
    .MuiInputBase-input {
      padding: 8px 32px 8px 8px;
    }
  }
}

.MemberDetail--name {
  font-size: 14px;
}

.memberRole {
  &--chip {
    color: #333;
    border-radius: 2px;
    margin: 2px;
    padding: 4px 0;
    font-size: 13px;
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  &--button {
    width: 66px;
  }
}
