.view_CaledarProjectPageLeftPart_List {
  &___banner {
    padding: 15px;
  }

  &_iconLeft {
    margin-left: 10px !important;
  }
}
.gantt-left-menu-calendar__container{
  padding-top: 0;
}
.gant--comp_CustomModal___dialog-content .comp_Scrollbars___main  {
  height: calc(100% - 135px) !important;

}