.view_ProjectPage_MemberRoleModal___table-head {
  background-color: #eee; 
  & * {
    text-transform: none;
  }
};

.view_ProjectPage_MemberRoleModal___table-body {
  & > *:last-child {
    border-bottom: none;
  }
};

.view_ProjectPage_MemberRoleModal___table-cell {
  font-weight: 500;
};

.view_ProjectPage_MemberRoleModal___table {
  & * {
    font-size: 14px;
  }
};